@import "variables";

.posts{

  .posts_container{
    margin-top: 21px;
    width: 100%;
    box-shadow: 0 1px 2px 4px #e0e6ed;
    border-top: 3px solid #2f83e9;
    border-radius: 2px;
    background-color: #ffffff;

    .posts_container_header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 10px;
      border-bottom: 2px solid #e3e3e3;

      .post_head_title {

        span {
          color: #414141;
          font: 500 16px $fontName;
        }

        .col_of_pages {
          margin-top: 3px;
          display: flex;
          align-items: center;

          p {
            font: normal 13px $fontName;
            color: #515151;
          }

          img {
            opacity: .8;
            margin-left: 7px;
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
        }
      }

      .search_block{
        height: 30px;
        display: flex;
        position: relative;

        input{
          padding: 2px 5px;
          padding-right: 25px;
          width: 200px;
          outline: none;
          border: 1px solid #bebebe;
          border-radius: 3px 0 0 3px;
          font: normal 13px $fontName;
          box-shadow: inset 0 1px 2px 0 #efefef;

          &:focus{
            border: 1px solid #2f83e9;
          }
        }
        .search_trigger{
          cursor: pointer;
          background-color: #eeeeee;
          width: 60px;
          border: 1px solid #bebebe;
          border-left: none;
          border-radius: 0 3px 3px 0;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            object-fit: contain;
            width: 13px;
            height: 13px;
          }
        }
      }
      .remove_search_content{
        cursor: pointer;
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        font: 500 16px $fontName;
        color: #3d454a;

        &.hidden{
          display: none;
        }
      }
    }

    .posts_block{
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .post{
        display: flex;

        &:nth-of-type(n+2){
          margin-top: 20px;
        }

        .post_image_preview {
          min-width: 210px;
          min-height: 150px;
          background-size: cover;
          border-radius: 3px 0 0 3px;
          position: relative;
          overflow: hidden;

          $triggerHeight: 30px;
          --triggerHeight: 30px;
          .post_more_inf {
            position: absolute;
            top: -100%;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #22282ce8;
            transition: top .2s;

            &.active{
              top: 0%;

              .trigger{
                border-radius: 20px 20px 0 0;
                background-color: rgba(63, 72, 77, 0.85);
                opacity: .9;
                bottom: 0;

                img{
                  transform: rotateZ(180deg);
                }
              }
            }

            .trigger {
              border-radius: 0 0 20px 20px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -$triggerHeight;
              width: 50%;
              height: var(--triggerHeight);
              background-color: #22282cd9;
              transition: background-color .2s, bottom .3s;

              img {
                opacity: .8;
                filter: invert(30%);
                width: 18px;
                height: 18px;
                object-fit: cover;
                transition: transform .2s;
              }
            }

            .inf{
              height: calc(100% - var(--triggerHeight));
              display: flex;
              align-items: center;
              justify-content: center;

              & > div:nth-child(n+2){
                margin-left: 13px;
              }

              & > div{
                margin-bottom: -$triggerHeight;
                display: flex;
                align-items: center;

                img{
                  width: 14px;
                  height: 14px;
                  object-fit: cover;
                  margin-right: 5px;
                }
                span{
                  font: normal 12px $fontName;
                  color: #ffffff;
                }
              }
            }
          }
        }

        .post_main_flex{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          justify-content: space-between;
          padding-left: 13px;
          padding-right: 8px;
          border: 1px solid #dfdfdf;
          border-left: none;
          border-radius: 0 3px 3px 0;

          p{
            color: #3b3b3b;
          }
          .post_name{
            margin-top: 7px;
            font: 500 19px $fontName;
          }

          .post_inf_block{
            display: flex;
            align-items: center;

            .date_of_post{
              margin-top: 2px;
              img{
                filter: brightness(0%);
                opacity: .6;
              }
            }
            .author{
              margin-left: 15px;

              img{
                opacity: .65;
              }
            }

            &>div, &>a{
              display: flex;
              align-items: center;

              img{
                width: 13px;
                height: 13px;
                object-fit: cover;
                margin-right: 5px;
              }
              span{
                font: normal 12px $fontName;
                color: #353535;
              }
            }

          }

          .post_description{
            word-break: break-word;
            font: 500 13px $fontName;
            margin-top: 15px;
          }

          .post_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            margin-top: 15px;

            .to_post{
              transition: background-color .2s;
              display: flex;
              align-items: center;
              text-decoration: none;
              border: 1px solid #6262bc;
              padding: 6px;
              border-radius: 3px;

              p {
                font: 500 13px $fontName;
                color: #6262bc;
                word-break: keep-all;
                text-transform: uppercase;
              }
              img{
                margin-left: 5px;
                width: 15px;
                height: 10px;
                object-fit: contain;
                transition: transform .2s;
              }

              &:hover{
                background-color: #f1f1f7;

                img{
                  transform: translateX(2px);
                }
              }
            }

            .actions {
              display: flex;

              a {
                border: 1px solid #e0e0e0;
                border-radius: 3px;
                text-decoration: none;
                display: flex;
                align-items: center;
                transition: background-color .2s;
                padding: 7px;

                &:hover {
                  background-color: #eeeeee;
                }

                &:nth-of-type(n+2) {
                  margin-left: 8px;
                }

                img {
                  width: 14px;
                  height: 14px;
                  object-fit: contain;
                  opacity: .9;
                  margin-top: -1px;
                }

                p {
                  margin-left: 5px;
                  text-transform: uppercase;
                  font: 500 13px $fontName;
                }
              }
            }
          }
        }
      }
    }

    .posts_footer {
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      a.add_post {
        text-decoration: none;
        display: flex;
        align-items: center;
        border: 1px solid #6262bc;
        padding: 8px;
        border-radius: 3px;

        &:hover {
          border-color: #4c4ccd;

          span{
            color: #4c4ccd;
          }
          img {
            opacity: .8;
            transform: rotate(90deg);
          }
        }

        span {
          font: 500 14px $fontName;
          margin-right: 8px;
          color: #6262bc;
          transition: color .2s;
        }

        img {
          opacity: .7;
          width: 21px;
          height: 21px;
          object-fit: cover;
          transition: all .2s;
        }
      }

      .buttons_block {
        & > div {
          margin-top: 0;
          display: flex;
          justify-content: center;
          width: 100%;

          a {
            text-decoration: none;
          }

          %button_ext {
            font-size: 9px;
            display: inline-block;
            transform: scaleY(2);
            padding-bottom: 2px;
          }

          .buttons_controllers {
            display: flex;

            button:nth-of-type(1) {
              border-radius: 5px 0 0 5px;
              position: relative;
              text-transform: uppercase;
              border-left: 1px solid #dfdfdf;

              a {
                padding-top: 5px;
                padding-bottom: 6px;
                font-size: 15px;
                display: block;
                transform: scaleY(1.4);
              }
            }

            button:nth-of-type(2) {
              text-transform: uppercase;

              a {
                display: block;
                padding-bottom: 6px;

                span:first-child {
                  padding-right: 7px;
                  @extend %button_ext;
                }
              }
            }
          }

          .next_page {
            text-transform: uppercase;
            border-radius: 0 5px 5px 0;

            a {
              padding-bottom: 6px;

              span:last-child {
                padding-left: 7px;
                @extend %button_ext;
              }
            }
          }

          button {
            border: 1px solid #dfdfdf;
            border-left: none;
            background-color: transparent;
            outline: none;
            transition: background-color .3s;

            a {
              width: 100%;
              height: 100%;
              display: block;
              padding: 8px 12px;
              color: #3c3c3c;
              font: 500 12px $fontName;
            }

            &:hover {
              background-color: #f5f5f5;
            }

            &:disabled {
              a {
                color: #939393;
                pointer-events: none;
              }

              &:hover {
                background-color: transparent;
              }

              &:before {
                color: #939393 !important;
              }

              &:after {
                color: #939393 !important;
              }
            }

            &.active {
              background-color: #6262bced;
              border-color: #6262bced;

              a {
                color: #ffffff;
              }
            }
          }
        }
      }

    }
  }

}