@import "variables";


.modal-overlay {
  background: rgba(0, 0, 0, 0.6) !important;

  .modal-window {
    .modal-header {
      border-bottom: none;
      padding-bottom: 0px;
    }

    .modal-body {
      margin-top: 10px;
      padding-bottom: 0px;
      border-bottom: none;
    }

    .modal-footer {
      justify-content: flex-end;
      margin-top: 10px;
    }

    .modal-header > span:nth-child(1) {
      font-size: 20px;
      color: #292929;
    }

    .modal-footer > button:nth-of-type(2) {
      margin-left: 25px;
      color: #e9452f;
    }

    .modal-footer > button {
      padding: 0px;
      font-size: 14px;
      color: #2f83e9;
      background-color: transparent !important;
    }
  }
}


*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.group_box{
  transition: border .2s, height .3s;
  overflow: hidden;
}
.group_box.active_box{
  border-top: 3px solid #2f83e9 !important;
}

.main_box{
  display: flex;
  min-height: 100vh;

  header{
    height: 60px;
  }

  aside.aside_menu{
    min-width: 260px;
    margin-left: -260px;
    background-color: #22282C;
    transition: margin-left .3s;

    &.active{
      margin-left: 0;
    }

    header{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #45467F;

      a{
        img {
          margin-bottom: -4px;
          object-fit: cover;
          width: 110px;
          height: 27px;
          filter: grayscale(.4);
        }
      }
    }

    .aside_category {

      &:first-of-type{
        margin-top: 30px;
      }
      &:nth-of-type(n+2){
        margin-top: 10px;
      }
      .category_name {
        user-select: none;
        cursor: pointer;
        background-color: #1B1F22;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          margin-left: 20px;
          text-transform: uppercase;
          font: 500 12px $fontName;
          color: rgba(223, 241, 248, 0.77);
        }
        .navigation_zip{
          margin-right: 20px;
          width: 15px;
          height: 15px;
          opacity: .7;
          background-image: url("/public/imgs/arrow-down-sign-to-navigate.png");
          background-size: cover;
          transition: transform .2s;
        }
      }
      &.active .category_name .navigation_zip{
        transform: rotate(90deg);
      }

      nav {
        margin-top: 10px;
        overflow: hidden;
        transition: height .2s, margin-top .3s;

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;

          li{
            transition: background-color .1s;

            &:hover{
              background-color: #2f383c;
            }
            a {
              padding: 10px 0;
              padding-left: 30px;
              display: flex;
              align-items: center;
              text-decoration: none;

              div {
                width: 10px;
                height: 10px;
                opacity: 0.45;
                background: url("/public/imgs/cercle.png") center no-repeat;
                background-size: contain;
                transition: background-image .2s;
              }

              span {
                margin-left: 10px;
                text-transform: uppercase;
                font: 500 12px $fontName;
                color: rgba(223, 229, 236, 0.58);
              }
            }

            &:hover a div, &.active a div{
              background-image: url("/public/imgs/filled-circle.png");
            }
          }
        }
      }
      &.active > nav{
        height: 0 !important;
        margin-top: 0;
      }

      &.users_category nav{
        height: 37px;
      }
      &.posts_category nav{
        height: 110px;
      }
    }
  }

  .main_admin_block{
    background-color: #e6ecf2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section {
      header {
        background-color: #4B4B88;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .aside_burger {
          cursor: pointer;
          margin-left: 20px;

          div {
            width: 27px;
            height: 3px;
            background-color: #ffffff;
            border-radius: 3px;

            &:nth-of-type(n+2) {
              margin-top: 5px;
            }
          }
        }

        .go-out {
          display: flex;
          margin-right: 16px;
          text-decoration: none;

          p {
            font: 500 12px $fontName;
            margin-top: 2px;
            color: #dedede;
            text-transform: uppercase;
          }

          div {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background-image: url("/public/imgs/exit.png");
            background-size: cover;
          }
        }
      }
    }

    footer{
      margin-top: 50px;
      box-shadow: 6px 0 6px 4px #e0e6ed;
      height: 45px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      article{
        font: normal 12px $fontName;

        span{
          a {
            text-decoration: none;
            color: #2f83e9;
          }
        }
      }
    }
  }

}



.posts{
  padding: 0 25px;
  padding-top: 18px;

  .main_header_block{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title{
      display: flex;
      align-items: flex-end;

      p:first-child{
        color: #353535;
        font: 500 20px $fontName;
      }
      p:last-child{
        margin-left: 7px;
        margin-bottom: 2px;
        color: #646464;
        font: normal 13px $fontName;
      }
    }
    .pages_way{
      display: flex;
      align-items: center;
      margin-top: 4px;

      .arrow-right{
        color: #808080;
        font: 500 12px $fontName;
        margin-bottom: -1px;
        margin-left: 10px;
      }
      & > a{
        text-decoration: none;
        transition: opacity .1s;

        img{
          width: 15px;
          height: 15px;
          object-fit: contain;
          opacity: .8;
          margin-bottom: -2px;
          margin-right: 3px;
        }
        span{
          color: #343434;
          font: 500 12px $fontName;
        }

        &:nth-of-type(n+2){
          margin-left: 10px;
        }

        &:hover{
          opacity: .7;
        }
      }
    }

  }

}