@import "variables";

.modal-overlay {
  background: rgba(0, 0, 0, 0.6) !important;

  .modal-window {
    .modal-header {
      border-bottom: none;
      padding-bottom: 0px;
    }

    .modal-body {
      margin-top: 10px;
      padding-bottom: 0px;
      border-bottom: none;
    }

    .modal-footer {
      justify-content: flex-end;
      margin-top: 10px;
    }

    .modal-header > span:nth-child(1) {
      font-size: 20px;
      color: #292929;
    }

    .modal-footer > button:nth-of-type(2) {
      margin-left: 25px;
      color: #e9452f;
    }

    .modal-footer > button {
      padding: 0px;
      font-size: 14px;
      color: #2f83e9;
      background-color: transparent !important;
    }
  }
}

.posts{
  padding: 0 25px;
  padding-top: 10px;

  .main_header_block{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title{
      display: flex;
      align-items: flex-end;

      p:first-child{
        color: #353535;
        font: 500 20px $fontName;
      }
      p:last-child{
        margin-left: 7px;
        margin-bottom: 2px;
        color: #646464;
        font: normal 13px $fontName;
      }
    }
    .pages_way{
      display: flex;
      align-items: center;
      margin-top: 4px;

      .arrow-right{
        color: #808080;
        font: 500 12px $fontName;
        margin-bottom: -1px;
        margin-left: 10px;
      }
      & > a{
        text-decoration: none;

        img{
          width: 15px;
          height: 15px;
          object-fit: contain;
          opacity: .8;
          margin-bottom: -2px;
          margin-right: 3px;
        }
        span{
          color: #343434;
          font: 500 12px $fontName;
        }

        &:nth-of-type(n+2){
          margin-left: 10px;
        }
      }
    }

  }

  .posts_container{
    margin-top: 15px;
    width: 100%;
    //height: 200px;
    box-shadow: 0 1px 2px 4px #e0e6ed;
    border-top: 3px solid #6262bc;
    border-radius: 2px;
    background-color: #ffffff;

    .posts_container_header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 10px;
      border-bottom: 2px solid #e3e3e3;

      span{
        color: #515151;
        font: 500 17px $fontName;
      }

      .col_of_pages{
        display: flex;
        align-items: center;

        p{
          font: 500 14px $fontName;
          color: #515151;
        }
        img{
          margin-left: 10px;
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }
    }

    .posts_block{
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .post{
        display: flex;

        &:nth-of-type(n+2){
          margin-top: 20px;
        }

        .post_image_preview {
          min-width: 210px;
          min-height: 130px;
          background-size: cover;
          border-radius: 3px 0 0 3px;
          position: relative;
          overflow: hidden;

          --triggerHeight: 30px;
          .post_more_inf {
            position: absolute;
            top: calc(-100% + var(--triggerHeight));
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #22282ce8;
            transition: all .2s;

            &.active{
              top: 0%;

              .trigger{
                img{
                  transform: rotateZ(180deg);
                }
              }
            }

            .trigger {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              width: 100%;
              height: 30px;
              backdrop-filter: invert(10%);
              border-radius: 2px 0 0 2px;

              img {
                opacity: .8;
                filter: invert(30%);
                width: 18px;
                height: 18px;
                object-fit: cover;
                transition: transform .2s;
              }
            }

            .inf{
              height: calc(100% - var(--triggerHeight));
              display: flex;
              align-items: center;
              justify-content: center;

              & > div:nth-child(n+2){
                margin-left: 13px;
              }

              & > a, & > div{
                display: flex;
                align-items: center;

                img{
                  width: 14px;
                  height: 14px;
                  object-fit: cover;
                  margin-right: 5px;
                }
                span{
                  font: normal 12px $fontName;
                  color: #ffffff;
                }
              }
            }
          }
        }

        .post_main_flex{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          justify-content: space-between;
          padding-left: 13px;
          padding-right: 8px;
          border: 1px solid #dfdfdf;
          border-left: none;
          border-radius: 0 3px 3px 0;

          p{
            color: #3b3b3b;
          }
          .post_name{
            margin-top: 7px;
            font: 500 19px $fontName;
          }
          .date_of_post{
            margin-top: 2px;
            font: normal 12px $fontName;
          }
          .post_description{
            word-break: break-word;
            font: 500 13px $fontName;
            margin-top: 15px;
          }

          .post_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            margin-top: 15px;

            .to_post{
              transition: background-color .2s;
              display: flex;
              align-items: center;
              text-decoration: none;
              border: 1px solid #6262bc;
              padding: 6px;

              p {
                font: 500 13px $fontName;
                color: #6262bc;
                border-radius: 3px;
                word-break: keep-all;
                text-transform: uppercase;
              }
              img{
                margin-left: 5px;
                width: 15px;
                height: 10px;
                object-fit: contain;
                transition: transform .2s;
              }

              &:hover{
                background-color: #f1f1f7;

                img{
                  transform: translateX(2px);
                }
              }
            }

            .actions {
              display: flex;

              a {
                border: 1px solid #e0e0e0;
                border-radius: 3px;
                text-decoration: none;
                display: flex;
                align-items: center;
                transition: background-color .2s;
                padding: 7px;

                &:hover {
                  background-color: #eeeeee;
                }

                &:nth-of-type(n+2) {
                  margin-left: 8px;
                }

                img {
                  width: 14px;
                  height: 14px;
                  object-fit: contain;
                  opacity: .9;
                  margin-top: -1px;
                }

                p {
                  margin-left: 5px;
                  text-transform: uppercase;
                  font: 500 13px $fontName;
                }
              }
            }
          }
        }
      }
    }

    .posts_footer {
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      a.add_post {
        text-decoration: none;
        display: flex;
        align-items: center;
        border: 1px solid #6262bc;
        padding: 8px;
        border-radius: 3px;

        &:hover {
          border-color: #4c4ccd;

          span{
            color: #4c4ccd;
          }
          img {
            opacity: .8;
            transform: rotate(90deg);
          }
        }

        span {
          font: 500 14px $fontName;
          margin-right: 8px;
          color: #6262bc;
          transition: color .2s;
        }

        img {
          opacity: .7;
          width: 21px;
          height: 21px;
          object-fit: cover;
          transition: all .2s;
        }
      }

      .buttons_block {
        & > div {
          margin-top: 0;
          display: flex;
          justify-content: center;
          width: 100%;

          a {
            text-decoration: none;
          }

          %button_ext {
            font-size: 9px;
            display: inline-block;
            transform: scaleY(2);
            padding-bottom: 2px;
          }

          .buttons_controllers {
            display: flex;

            button:nth-of-type(1) {
              border-radius: 5px 0 0 5px;
              position: relative;
              text-transform: uppercase;
              border-left: 1px solid #dfdfdf;

              a {
                padding-top: 5px;
                padding-bottom: 6px;
                font-size: 15px;
                display: block;
                transform: scaleY(1.4);
              }
            }

            button:nth-of-type(2) {
              text-transform: uppercase;

              a {
                display: block;
                padding-bottom: 6px;

                span:first-child {
                  padding-right: 7px;
                  @extend %button_ext;
                }
              }
            }
          }

          .next_page {
            text-transform: uppercase;
            border-radius: 0 5px 5px 0;

            a {
              padding-bottom: 6px;

              span:last-child {
                padding-left: 7px;
                @extend %button_ext;
              }
            }
          }

          button {
            border: 1px solid #dfdfdf;
            border-left: none;
            background-color: transparent;
            outline: none;
            transition: background-color .3s;

            a {
              width: 100%;
              height: 100%;
              display: block;
              padding: 8px 12px;
              color: #3c3c3c;
              font: 500 12px $fontName;
            }

            &:hover {
              background-color: #f5f5f5;
            }

            &:disabled {
              a {
                color: #939393;
                pointer-events: none;
              }

              &:hover {
                background-color: transparent;
              }

              &:before {
                color: #939393 !important;
              }

              &:after {
                color: #939393 !important;
              }
            }

            &.active {
              background-color: #6262bced;
              border-color: #6262bced;

              a {
                color: #ffffff;
              }
            }
          }
        }
      }

    }
  }

}