@import "variables";

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


.main_box{
  display: flex;
  min-height: 100vh;

  header{
    height: 60px;
  }

  aside.aside_menu{
    min-width: 260px;
    margin-left: -260px;
    background-color: #22282C;
    transition: margin-left .3s;

    &.active{
      margin-left: 0;
    }

    header{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #45467F;

      a{
        img {
          margin-bottom: -4px;
          object-fit: cover;
          width: 110px;
          height: 27px;
          filter: grayscale(.4);
        }
      }
    }

    .aside_category {

      &:first-of-type{
        margin-top: 30px;
      }
      &:nth-of-type(n+2){
        margin-top: 10px;
      }
      .category_name {
        user-select: none;
        cursor: pointer;
        background-color: #1B1F22;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          margin-left: 20px;
          text-transform: uppercase;
          font: 500 12px $fontName;
          color: rgba(223, 241, 248, 0.77);
        }
        .navigation_zip{
          margin-right: 20px;
          width: 15px;
          height: 15px;
          opacity: .7;
          background-image: url("/public/imgs/arrow-down-sign-to-navigate.png");
          background-size: cover;
          transition: transform .2s;
        }
      }
      &.active .category_name .navigation_zip{
        transform: rotate(90deg);
      }

      nav {
        margin-top: 10px;
        overflow: hidden;
        transition: height .2s, margin-top .3s;

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;

          li{
            transition: background-color .1s;

            &:hover{
              background-color: #2f383c;
            }
            a {
              padding: 10px 0;
              padding-left: 30px;
              display: flex;
              align-items: center;
              text-decoration: none;

              div {
                width: 10px;
                height: 10px;
                opacity: 0.45;
                background: url("/public/imgs/cercle.png") center no-repeat;
                background-size: contain;
                transition: background-image .2s;
              }

              span {
                margin-left: 10px;
                text-transform: uppercase;
                font: 500 12px $fontName;
                color: rgba(223, 229, 236, 0.58);
              }
            }

            &:hover a div, &.active a div{
              background-image: url("/public/imgs/filled-circle.png");
            }
          }
        }
      }
      &.active > nav{
        height: 0 !important;
        margin-top: 0;
      }

      &.users_category nav{
        height: 37px;
      }
      &.posts_category nav{
        height: 110px;
      }
    }
  }

  .main_admin_block{
    background-color: #e6ecf2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section {
      header {
        background-color: #4B4B88;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .aside_burger {
          cursor: pointer;
          margin-left: 20px;

          div {
            width: 27px;
            height: 3px;
            background-color: #ffffff;
            border-radius: 3px;

            &:nth-of-type(n+2) {
              margin-top: 5px;
            }
          }
        }

        .go-out {
          display: flex;
          margin-right: 16px;
          text-decoration: none;

          p {
            font: 500 12px $fontName;
            margin-top: 2px;
            color: #dedede;
            text-transform: uppercase;
          }

          div {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background-image: url("/public/imgs/exit.png");
            background-size: cover;
          }
        }
      }
    }

    footer{
      margin-top: 40px;
      box-shadow: 6px 0 6px 4px #e0e6ed;
      height: 45px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      article{
        font: normal 12px $fontName;

        span{
          a {
            text-decoration: none;
            color: #2f83e9;
          }
        }
      }
    }
  }

}