@import "variables";

.posts{

  .posts_container{

    .posts_block{
      .empty_search_request{
        margin-top: 50px;
        margin-bottom: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
          object-fit: contain;
          width: 75px;
          height: 75px;
        }
        p:nth-of-type(1){
          margin-top: 10px;
          font: 500 25px $fontName;
        }
        p:nth-of-type(2){
          margin-top: 3px;
          font: normal 13px $fontName;
        }
      }
      .post{
        display: flex;

        &:nth-of-type(n+2){
          margin-top: 20px;
        }

        .post_image_preview {
          min-width: 210px;
          min-height: 150px;
          background-size: cover;
          border-radius: 3px 0 0 3px;
          position: relative;
          overflow: hidden;

          $triggerHeight: 30px;
          --triggerHeight: 30px;
          .post_more_inf {
            position: absolute;
            top: -100%;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #22282ce8;
            transition: top .2s;

            &.active{
              top: 0%;

              .trigger{
                border-radius: 20px 20px 0 0;
                background-color: rgba(63, 72, 77, 0.85);
                opacity: .9;
                bottom: 0;

                img{
                  transform: rotateZ(180deg);
                }
              }
            }

            .trigger {
              border-radius: 0 0 20px 20px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -$triggerHeight;
              width: 50%;
              height: var(--triggerHeight);
              background-color: #22282cd9;
              transition: background-color .2s, bottom .3s;

              img {
                opacity: .8;
                filter: invert(30%);
                width: 18px;
                height: 18px;
                object-fit: cover;
                transition: transform .2s;
              }
            }

            .inf{
              height: calc(100% - var(--triggerHeight));
              display: flex;
              align-items: center;
              justify-content: center;

              & > div:nth-child(n+2){
                margin-left: 13px;
              }

              & > div{
                margin-bottom: -$triggerHeight;
                display: flex;
                align-items: center;

                img{
                  width: 14px;
                  height: 14px;
                  object-fit: cover;
                  margin-right: 5px;
                }
                span{
                  font: normal 12px $fontName;
                  color: #ffffff;
                }
              }
            }
          }
        }

        .post_main_flex{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          justify-content: space-between;
          padding-left: 13px;
          padding-right: 8px;
          border: 1px solid #dfdfdf;
          border-left: none;
          border-radius: 0 3px 3px 0;

          p{
            color: #3b3b3b;
          }
          .post_name{
            margin-top: 7px;
            font: 500 19px $fontName;
          }

          .post_inf_block{
            display: flex;
            align-items: center;

            .date_of_post{
              margin-top: 2px;
              img{
                filter: brightness(0%);
                opacity: .6;
              }
            }
            .author{
              margin-left: 15px;

              img{
                opacity: .65;
              }
            }

            &>div, &>a{
              display: flex;
              align-items: center;

              img{
                width: 13px;
                height: 13px;
                object-fit: cover;
                margin-right: 5px;
              }
              span{
                font: normal 12px $fontName;
                color: #353535;
              }
            }

          }

          .post_description{
            word-break: break-word;
            font: 500 13px $fontName;
            margin-top: 15px;
          }

          .post_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            margin-top: 15px;

            .to_post{
              transition: background-color .2s;
              display: flex;
              align-items: center;
              text-decoration: none;
              border: 1px solid #6262bc;
              padding: 6px;
              border-radius: 3px;

              p {
                font: 500 13px $fontName;
                color: #6262bc;
                word-break: keep-all;
                text-transform: uppercase;
              }
              img{
                margin-left: 5px;
                width: 15px;
                height: 10px;
                object-fit: contain;
                transition: transform .2s;
              }

              &:hover{
                background-color: #f1f1f7;

                img{
                  transform: translateX(2px);
                }
              }
            }

            .actions {
              display: flex;

              a {
                border: 1px solid #e0e0e0;
                border-radius: 3px;
                text-decoration: none;
                display: flex;
                align-items: center;
                transition: background-color .2s;
                padding: 7px;

                &:hover {
                  background-color: #eeeeee;
                }

                &:nth-of-type(n+2) {
                  margin-left: 8px;
                }

                img {
                  width: 14px;
                  height: 14px;
                  object-fit: contain;
                  opacity: .9;
                  margin-top: -1px;
                }

                p {
                  margin-left: 5px;
                  text-transform: uppercase;
                  font: 500 13px $fontName;
                }
              }
            }
          }
        }
      }
    }

  }

}