
@import "variables";

@import "headerline";

@import "userbox";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontName;
}

.header{
  position: sticky;
  top: -96px;

  &_line{
    box-shadow: 0px -5px 5px 3px #727272 !important;
  }

  .points{
    background-color: #ffffff;
  }
}

body{
  background-color: #FAFAFA;
}

.columnText{
  margin: 0 auto;
  padding: 50px 0;
  padding-top: 40px;
  width: 85%;
}

h1{
  font-weight: bold;
  font-size: 20px;
}
h2{
  font-size: 17px;
}
h2, b{
  font-weight: 500;
}

ul{
  list-style-type: none;
}

.headTitle{
  text-align: center;
  color: #383838;
}

.header_line {
  box-shadow: 1px 0 6px 0 #ececec;
}

@import "footer";