.buttons_block{
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  %button_ext{
    font-size: 9px;
    display: inline-block;
    transform: scaleY(2);
    padding-bottom: 2px;
  }

  .buttons_controllers{
    display: flex;

    button:nth-of-type(1) {
      display: none;
    }

    button:nth-of-type(2) {
      text-transform: uppercase;
      border-radius: 5px 0 0 5px;

      a{
        padding-bottom: 6px;

        span:first-child{
          padding-right: 10px;
          @extend %button_ext;
        }
      }
    }
  }

  .pages_controllers{
    display: flex;

    button {
      &:nth-of-type(n+2) {
        margin-left: 10px;
      }
    }
  }

  .next_page{
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;

    a{
      padding-bottom: 6px;

      span:last-child{
        padding-left: 10px;
        @extend %button_ext;
      }
    }
  }

  button{
    border: none;
    background-color: transparent;
    outline: none;
    transition: background-color .3s;

    a{
      display: block;
      padding: 8px 12px;
      font: 500 12px $fontName;
      color: #474747;
    }
    &:hover{
      background-color: #e8e8e8;
    }
    &:disabled{
      a{
        color: #939393;
        pointer-events: none;
      }
      &:hover{
        background-color: transparent;
      }
      &:before{
        color: #939393 !important;
      }
      &:after{
        color: #939393 !important;
      }
    }
    &.active{
      background-color: #277ee8;

      a {
        color: #ffffff;
      }
    }
  }
}