$select_width: 100%;
$font: $fontName;
$font_size: 16px;
$font_color: #71747a;

.select{
    font: 300 $font_size $font;
    color: $font_color;
    position: relative;
    $select_height: 50px;
    width: $select_width;

    .background__element{
        position: fixed;
        z-index: -1;
        display: none;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &.open{
        z-index: 1;
        
        .select__dropdown{
            max-height: 200px;
            opacity: 1;
        }
        .background__element{
            display: block;
        }
    }
        
    &__input{
        cursor: pointer;
        min-height: $select_height;
        border: 2px solid #d7dbe5;
        box-sizing: border-box;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;

        span[data-type="value"]{
            word-break: break-all;
        }
        i{
            transition: transform 0.3s;
            margin-left: 10px;
            width: 12px;
            height: 12px;
            background: url("/public/imgs/down-arrow.svg");
            background-size: contain;
        }
        .icon-up{
            transform: rotateZ(180deg);
        }
    }
    &__dropdown{
        background: #ffffff;
        font: 300 $font_size - 3px $font;
        position: absolute;
        box-sizing: border-box;
        border-radius: 6px;
        top: $select_height;
        transform: translateY(-1px);
        box-shadow: -3px 3px 2px 0 #2f83e908;
        left: 0;
        right: 0;
        max-height: 0;
        overflow-y: auto;
        border: 1px solid #d7dbe5;
        opacity: 0;
        transition: max-height 0.3s, opacity 0.3s;

        &::-webkit-scrollbar{
            width: 8px;
        }
        &::-webkit-scrollbar-track{
            border: 1px solid #d7dbe5;
            border-right: none;
            border-radius: 12px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background: rgb(209, 211, 217);
            border-radius: 12px;
            width: 7px;
            &:hover{
                background: rgb(200, 203, 210);
            }
        }
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        box-sizing: border-box;
        padding: 10px;
        padding-right: 11px;
        transition: background 0.3s;
        word-break: break-all;
        
        &:nth-of-type(1){
            border-top: 0;
        }
        &:last-of-type{
            border-bottom: 0;
        }
        &:hover{
            background: #edf0f5;
            cursor: pointer;
        }
        &.selected{
            background-color: #2f83e999;
            color: #ffffff;
        }
        &:nth-of-type(n+2){
            border-top: 1px solid #dedede;
        }
    }
}