$fontName: 'Open Sans';

@font-face{
  font-family: $fontName;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: $fontName;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: $fontName;
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal;
}