@import "../../variables";
@import "../admin_pagination";
@import "../admin_body_template";

.posts{

  .posts_add{

    .add_category{

      .general_form_message{
        display: none;
        align-items: center;
        justify-content: center;
        width: 85%;
        padding: 10px 25px;
        background-color: #e14a43;
        border-radius: 3px;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;

        &.active{
          display: flex;
        }

        div:last-of-type{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          cursor: pointer;
          font: 500 19px $fontName;
          color: #ffffff;
          right: 7px;
          top: 10px;
        }
        p{
          color: #ffffff;
          font: 500 14px $fontName;
        }
      }

      form {
        margin-top: 35px;

        .add_category_flex {
          padding: 0px 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          .add_info {
            display: flex;
            flex-direction: column;
            height: fit-content;

            div {
              display: flex;
              flex-direction: column;

              .field_error_inf {
                margin-left: 3px;

                p {
                  font: normal 13px $fontName;
                  color: rgba(227, 63, 35, 0.84);
                }
              }

              &:first-of-type {
                label div {
                  background-color: #4cd081;
                }

                input:focus, input:hover{
                  border-color: #4cd081;
                }
              }

              label {
                width: fit-content;
                display: flex;
                align-items: center;

                div {
                  margin-top: -5px;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  margin-right: 5px;
                }

                p {
                  font: 500 13px $fontName;
                  color: #303030;
                  margin-bottom: 5px;
                }
              }

              input{
                margin-left: 3px;
                width: 300px;
                border: 2px solid #969696;
                font: normal 12px $fontName;
                padding: 6px 5px;
                padding-bottom: 8px;
                outline: none;
                resize: none;
                border-radius: 3px;
                transition: border-color .2s;

                &.invalid {
                  border-color: rgba(227, 63, 35, 0.84) !important;
                }
              }
            }

          }
        }

        .submit_items_block {
          border-top: 2px solid #e3e3e3;
          padding: 20px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 40px;

          input {
            cursor: pointer;
            display: block;
            outline: none;
            background-color: #ffffff;
            border: none;
            color: #2f83e9;
            font: 500 14px $fontName;
            border-radius: 4px;
          }
        }

      }
    }

  }

  .posts_container{

    div.posts_block{
      padding: 25px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;

      .tag{
        background-color: #fcfcfc;
        margin-top: 20px;
        flex: 0 1 30%;
        width: fit-content;
        padding: 10px 15px;
        border: 1px solid #e3e3e3;;
        border-radius: 2px;
        box-shadow: 0 0 3px 1px #f8f8f8;
        transform: translate(-10px, -10px);
        margin-left: 20px;

        .tag_body {
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          p.tag_name {
            font: 500 14px $fontName;
            color: #4a4a4a;

            span {
              color: #2f83e9;
            }
          }
        }
        .tag_footer{
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid #dfdfdf;
          padding: 15px 0px;
          padding-bottom: 5px;

          p{
            text-align: left;
            margin-right: 8px;
            font: normal 13px $fontName;
            display: flex;
            align-items: center;

            img{
              object-fit: contain;
              width: 14px;
              height: 14px;
              margin-right: 10px;
            }
          }

          .controllers {
            .delete_tag {
              text-decoration: none;
              cursor: pointer;
              font: 500 12px $fontName;
              color: #f54545;
              border: 1px solid #f54545;
              text-transform: uppercase;
              padding: 4px 6px;
              border-radius: 1px;
              transition: background-color .2s;

              &:hover{
                background-color: #f5454514;
              }
            }
          }
        }
      }

    }
  }

}