@import "../variables";
@import "../headerline";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_logo{
  margin-right: 0;
}

body{
  background-color: #FAFAFA;
}

.header_line {
  .register_box {
    display: none;
  }
}

.user_main.column{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;

  .user_header{
    display: flex;
    align-items: flex-start;

    @media all and (max-width: 550px){
      flex-direction: column;

      .hd_flex{
        margin-left: 0px !important;

        .name_block{
          display: none;
        }
      }
      .user_icon_block {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;

        .name_block{
          margin-left: 20px;
          display: block !important;
        }
      }
    }
    .user_icon_block {
      display: flex;
      align-items: center;

      .user_header_icon {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
      .name_block {
        width: 100%;
        display: none;

        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .user_name {
          font: bold 22px $fontName;
          color: #2a2a2a;
        }
        .notifications{
          text-transform: uppercase;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          @keyframes image_shake {
            0%{
              transform: rotateZ(0deg);
            }
            20%{
              transform: rotateZ(-5deg);
            }
            40%{
              transform: rotateZ(-10deg);
            }
            60%{
              transform: rotateZ(5deg);
            }
            80%{
              transform: rotateZ(10deg);
            }
            100%{
              transform: rotateZ(0deg);
            }
          }

          p{
            font: 500 12px $fontName;
          }
          img{
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-left: 5px;
            transform-origin: top center;
          }

          &:hover{
            img{
              animation: image_shake .5s linear;
            }
          }
        }
      }
    }
    .hd_flex{
      width: 100%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .name_block {
        width: 100%;

        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .user_name {
          font: bold 22px $fontName;
          color: #2a2a2a;
        }
        .notifications{
          text-transform: uppercase;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          @keyframes image_shake {
            0%{
              transform: rotateZ(0deg);
            }
            20%{
              transform: rotateZ(-5deg);
            }
            40%{
              transform: rotateZ(-10deg);
            }
            60%{
              transform: rotateZ(5deg);
            }
            80%{
              transform: rotateZ(10deg);
            }
            100%{
              transform: rotateZ(0deg);
            }
          }

          p{
            font: 500 12px $fontName;
          }
          img{
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-left: 5px;
            transform-origin: top center;
          }

          &:hover{
            img{
              animation: image_shake .5s linear;
            }
          }
        }
      }

      .user_description{
        margin-top: 15px;
        font: normal 15px $fontName;
        color: #565656;
        line-height: 23px;
      }
      .subscribers_block{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .subscribe_button{
          border-radius: 2px;
          border: 1px solid #2f83e9;
          color: #2f83e9;
          font: bold 13px $fontName;
          text-transform: uppercase;
          padding: 8px 13px;
          cursor: pointer;
          transition: background-color .13s;
          margin-right: 20px;

          &:hover{
            background-color: #2f83e912;
          }
        }
        .subscribers_count{
          font: 500 13px $fontName;
          color: #454444;
        }

      }
    }
  }

  .user_activities_menu{
    margin-top: 45px;
    display: flex;
    align-items: center;
    width: 100%;

    .item {
      text-decoration: none;
      width: 100%;
      user-select: none;
      flex-shrink: 1;
      text-align: center;
      padding: 15px;
      cursor: pointer;
      font: bold 11px $fontName;
      color: #818080;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      transition: border-bottom .2s;
      text-transform: uppercase;
      border-bottom: 2px solid #dcdce0;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }

      &:hover {
        color: #616166;
        border-bottom: 2px solid #828286;
      }

      &.active {
        color: #343435;
        border-bottom: 2px solid #2f83e9;
      }

      &.profile_submenu {
        flex-shrink: 2;

        img {
          user-select: none;
          object-fit: cover;
          width: 17px;
          height: 15px;
          filter: invert(45%);
        }

        &:hover {
          img {
            filter: invert(30%);
          }
        }
      }
    }
  }

  .posts_block{
    margin-top: 40px;
    margin-bottom: 50px;
    //width: 72%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .empty_posts_box{
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p:first-of-type{
        color: #4f5051;
        text-align: center;
        font: normal 15px $fontName;
      }
    }
    &>p:first-of-type{
      font: 500 15px $fontName;
      color: #3e3e3e;
    }
    .blog_recording {
      display: flex;
      width: 100%;
      min-height: 200px;
      border-radius: 6px;
      transition: box-shadow .3s, transform .2s;

      .blog_img {
        img {
          width: 250px;
          height: 100%;
          object-fit: cover;
          border-radius: 7px 0 0 7px;
          background-position: center;
        }
      }
      &:nth-of-type(n+2) {
        margin-top: 35px;
      }

      .main_post_content {
        padding: 0 30px;
        border-radius: 0 7px 7px 0;
        border: 1px solid #d6d6d6;
        border-left: none;
        width: 100%;

        .record_container {
          font: normal 14px $fontName;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 30px 0;

          div.blog_recording_block {
            margin-left: 0;
          }

          .blog_recording_block {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .name_block {
              .blog_name {
                display: inline-block;
                word-break: break-word;
                color: #323232;
                font-size: 20px;
                font-weight: bold;
                transition: color 0.15s;

                .blog_recording:hover,
                &:hover {
                  color: #626262;
                }
              }

              .info-block{
                margin-top: 13px;
                display: flex;

                img{
                  width: 12px;
                  height: 12px;
                  margin-top: 1px;
                }

                .author_name{
                  display: flex;
                  align-items: center;

                  a{
                    color: #2a2a2a;
                    font: 500 12px $fontName;
                    display: inline-block;

                    img{
                      margin-bottom: -2px;
                    }
                    span {
                      margin-left: 4px;
                      transition: color .2s;
                    }
                    &:hover {
                      span {
                        color: #5f657a;
                      }
                    }
                  }
                }
              }

              .blog_description {
                word-break: break-word;
                margin-top: 30px;
                color: #333339;
                font-weight: 500;
                transition: color 0.2s;
                padding-right: 15px;
              }
            }
          }
        }
        .last_block {
          width: 100%;
          border-top: 1px solid #d6d6d6;
          min-height: 50px;
          border-radius: 0 0 5px 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 19px;
          padding-bottom: 20px;

          &_info{
            display: flex;

            .likes, .views{
              display: flex;
              align-items: center;

              img{
                width: 13px;
                height: 13px;
                margin-top: 1px;
              }
              p{
                color: #2a2a2a;
                font: 500 12px $fontName;
                margin-left: 6px;
              }
            }
            .views{
              margin-left: 15px;
            }
            .share{
              display: flex;
              align-items: center;
              cursor: pointer;
              user-select: none;
              margin-left: 25px;
              img{
                width: 13px;
                height: 13px;
                margin-top: 1px;
              }
              &:hover{
                p {
                  color: #5f657a;
                }
              }
            }
          }
          .blog_date{
            margin-left: 50px;
            display: flex;
            align-items: center;

            img{
              width: 12px;
              height: 12px;
              margin-top: 1px;
            }
            p{
              color: #2a2a2a;
              font: 500 12px $fontName;
              margin-left: 7px;
            }
          }

        }
      }

    }
  }
}

@import "../footer";