@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal; }
.column {
  max-width: 1700px;
  padding: 0 8%; }
  @media screen and (min-width: 1700px) {
    .column {
      padding: 0 130px; } }

.user_block {
  z-index: 1;
  position: relative;
  cursor: pointer;
  padding: 18px 10px;
  margin-bottom: -1px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s; }
  .user_block:hover {
    background-color: #F5F6F8; }
  .user_block:active, .user_block.active {
    background-color: #f1f2f4; }
  .user_block_head {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .user_block_head p {
      z-index: 1;
      font: 500 14px "Open Sans";
      word-break: keep-all;
      color: #4b4b4b;
      margin-left: 10px;
      position: relative; }
    .user_block_head .user_avatar {
      z-index: 1;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover; }
  .user_block_body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 210px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 1px rgba(52, 52, 52, 0.12);
            box-shadow: 0 0 5px 1px rgba(52, 52, 52, 0.12);
    border-radius: 7px;
    position: absolute;
    left: 0px;
    top: 40px;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s; }
    .user_block_body ul {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative; }
      .user_block_body ul li {
        width: 100%;
        list-style-type: none;
        -webkit-transition: background-color .2s;
        transition: background-color .2s; }
        .user_block_body ul li:last-of-type {
          border-top: 1px solid #e8e8e8;
          border-radius: 0 0 7px 7px; }
        .user_block_body ul li:first-of-type {
          border-radius: 7px 7px 0 0; }
        .user_block_body ul li a {
          display: block;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 8px;
          padding-left: 15px;
          height: 43.5px; }
          .user_block_body ul li a span {
            text-transform: none;
            font: normal 13px "Open Sans";
            color: #171717; }
        .user_block_body ul li:hover {
          background-color: #f4f4f4; }
        .user_block_body ul li a > div {
          width: 16px;
          height: 16px;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-size: contain; }
        .user_block_body ul li.user_block_settings a > div {
          background-image: url("/public/imgs/user_block_settings.png"); }
        .user_block_body ul li.user_block_profile a > div {
          background-image: url("/public/imgs/user_block_profile.png"); }
        .user_block_body ul li.user_block_notifications a > div {
          background-image: url("/public/imgs/notification.svg"); }
        .user_block_body ul li.user_block_posts a > div {
          background-image: url("/public/imgs/posts.svg"); }
    .user_block_body > div:first-of-type {
      width: 12px;
      height: 12px;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 0px 2px white, -1px -1px 5px 0px rgba(52, 52, 52, 0.12);
              box-shadow: 1px 1px 0px 2px white, -1px -1px 5px 0px rgba(52, 52, 52, 0.12);
      position: absolute;
      left: 54px;
      top: -3px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .user_block.active .user_block_head p:after {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg); }
  .user_block.active .user_block_body {
    top: 63px;
    opacity: 1; }

.header {
  width: 100%;
  background-size: cover;
  -webkit-box-shadow: 0 3px 5px 0px #f8f8f8;
          box-shadow: 0 3px 5px 0px #f8f8f8; }
  .header .header_nav {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 28px; }
    .header .header_nav > div a {
      font-family: "Open Sans";
      color: #ffffff;
      font-size: 14px; }
    .header .header_nav .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 25px;
      cursor: pointer;
      z-index: 400; }
      .header .header_nav .burger div {
        width: 27px;
        height: 2px;
        background-color: #3e3e3e;
        border-radius: 5px;
        -webkit-transition: all .2s;
        transition: all .2s; }
        .header .header_nav .burger div:nth-of-type(n+2) {
          margin-top: 6px; }
    .header .header_nav.active .burger div:nth-of-type(1) {
      -webkit-transform: rotateZ(-45deg) translateY(6px);
              transform: rotateZ(-45deg) translateY(6px); }
    .header .header_nav.active .burger div:nth-of-type(2) {
      display: none; }
    .header .header_nav.active .burger div:nth-of-type(3) {
      -webkit-transform: rotateZ(45deg) translateY(-6px);
              transform: rotateZ(45deg) translateY(-6px); }
  .header .points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 0px;
    overflow-y: hidden;
    -webkit-transition: height .2s;
    transition: height .2s;
    background-color: #fafafa; }
    .header .points.active {
      border-bottom: 1px solid #e5e5e5;
      height: 300px; }
  .header .main_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    width: 437px; }
    .header .main_navigation li a {
      display: block;
      cursor: pointer;
      font: 500 12px "Open Sans";
      color: #2e2e2e;
      overflow: hidden;
      padding: 25px 0;
      letter-spacing: .7px;
      text-transform: uppercase;
      -webkit-transition: all .2s;
      transition: all .2s;
      position: relative; }
      .header .main_navigation li a:after {
        content: '';
        display: inline-block;
        position: absolute;
        height: 2px;
        width: 90%;
        bottom: 0px;
        left: -100%;
        background-color: rgba(88, 112, 233, 0.45);
        -webkit-transition: left .13s ease;
        transition: left .13s ease; }
      .header .main_navigation li a:hover {
        color: #242424; }
        .header .main_navigation li a:hover:after {
          left: 5%; }
  .header .column {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header a {
    text-decoration: none; }
  .header_line {
    position: -webkit-sticky;
    position: sticky;
    top: -96px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
    width: 100%;
    border: none;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -5px 5px 3px #727272;
            box-shadow: 0px -5px 5px 3px #727272; }
    .header_line_flex {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .header_logo {
    margin-bottom: -4px;
    margin-right: 74px; }
    @media screen and (max-width: 725px) {
      .header_logo {
        margin-right: 54px; } }
    @media screen and (max-width: 550px) {
      .header_logo {
        margin-right: 30px; } }
    .header_logo a {
      display: inline-block; }
      .header_logo a img:first-child {
        margin-left: -6px;
        width: 129px;
        height: 34px;
        -o-object-fit: cover;
           object-fit: cover; }
  .header .header_headside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 30px 0; }
    @media screen and (max-width: 725px) {
      .header .header_headside .social a:nth-of-type(n+2) {
        margin-left: 5px !important; } }
    @media screen and (max-width: 550px) {
      .header .header_headside .social {
        display: none; } }
    .header .header_headside .social img {
      width: 15px;
      -webkit-filter: invert(18%) blur(0.2px);
              filter: invert(18%) blur(0.2px);
      -webkit-transition: -webkit-filter .3s;
      transition: -webkit-filter .3s;
      transition: filter .3s;
      transition: filter .3s, -webkit-filter .3s; }
      .header .header_headside .social img[alt="youtube"] {
        width: 17px;
        margin-bottom: -1.5px;
        margin-right: -2px; }
      .header .header_headside .social img:hover {
        -webkit-filter: invert(30%) blur(0.2px);
                filter: invert(30%) blur(0.2px); }
    .header .header_headside .social a:nth-of-type(n+2) {
      margin-left: 12px; }
  .header div.line {
    height: .5px;
    width: 100%;
    background-color: #EEEEEE; }
  .header .header_line_flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header_line_flex > :nth-child(n+2) {
      margin-left: 50px; }
    .header .header_line_flex .search {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 23px 0; }
      .header .header_line_flex .search p {
        margin-top: 2px;
        color: #5e5e5e;
        font: normal 13px "Open Sans";
        margin-left: 7px;
        text-transform: capitalize; }
      .header .header_line_flex .search img {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        width: 20px;
        height: 20px;
        -webkit-filter: invert(10%);
                filter: invert(10%);
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s; }
      .header .header_line_flex .search:hover img {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg); }
    .header .header_line_flex .user_actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .header_line_flex .user_actions .login_box, .header .header_line_flex .user_actions .register_box {
        border-radius: 17px;
        font-weight: 500;
        border: 1px solid #278EE8;
        background-color: #ffffff;
        position: relative;
        -webkit-transition: all .2s !important;
        transition: all .2s !important; }
        .header .header_line_flex .user_actions .login_box a, .header .header_line_flex .user_actions .register_box a {
          color: #278EE8;
          padding: 6px 10px;
          display: block;
          width: 100%;
          height: 100%;
          font-weight: 500;
          -webkit-transition: all .2s;
          transition: all .2s;
          font-family: "Open Sans";
          font-size: 13px; }
        .header .header_line_flex .user_actions .login_box:hover, .header .header_line_flex .user_actions .register_box:hover {
          background-color: rgba(39, 142, 232, 0.06); }
      .header .header_line_flex .user_actions .login_box a {
        padding: 6px 17px; }
  .header_flex {
    padding: 0 20px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header_title {
    margin-bottom: 30px;
    text-align: center; }
    .header_title h2 {
      font-weight: bold;
      font-family: "Open Sans";
      font-size: 35px; }
    .header_title p {
      font-weight: 500; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header_logo {
  margin-right: 0; }

body {
  background-color: #FAFAFA; }

.header_line .register_box {
  display: none; }

.user_main.column {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px; }
  .user_main.column .user_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media all and (max-width: 550px) {
      .user_main.column .user_header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .user_main.column .user_header .hd_flex {
          margin-left: 0px !important; }
          .user_main.column .user_header .hd_flex .name_block {
            display: none !important; }
        .user_main.column .user_header .user_icon_block {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px; }
          .user_main.column .user_header .user_icon_block .name_block {
            margin-left: 20px;
            display: block !important; } }
    .user_main.column .user_header .user_icon_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .user_main.column .user_header .user_icon_block .user_header_icon .annotation_message_box {
        max-height: 31px;
        width: 113px; }
      .user_main.column .user_header .user_icon_block .user_header_icon > div {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden; }
        .user_main.column .user_header .user_icon_block .user_header_icon > div img {
          width: 80px;
          height: 80px;
          position: absolute;
          bottom: 0;
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: 50%; }
        .user_main.column .user_header .user_icon_block .user_header_icon > div .overflow_display {
          width: 80px;
          height: 80px;
          position: absolute;
          bottom: -100%;
          border-radius: 50%;
          background-color: #39393dd1;
          -webkit-transition: bottom .2s ease-out;
          transition: bottom .2s ease-out; }
          .user_main.column .user_header .user_icon_block .user_header_icon > div .overflow_display img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
            -o-object-fit: cover;
               object-fit: cover; }
        .user_main.column .user_header .user_icon_block .user_header_icon > div:hover .overflow_display {
          bottom: 0; }
      .user_main.column .user_header .user_icon_block .name_block {
        width: 100%;
        display: none; }
        .user_main.column .user_header .user_icon_block .name_block .flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
        .user_main.column .user_header .user_icon_block .name_block .user_name {
          font: bold 22px "Open Sans";
          color: #2a2a2a; }
        .user_main.column .user_header .user_icon_block .name_block .settings {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-transform: uppercase;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          cursor: pointer;
          margin-left: 20px;
          text-decoration: none; }
          .user_main.column .user_header .user_icon_block .name_block .settings p {
            font: 500 12px "Open Sans";
            color: #161616; }
          .user_main.column .user_header .user_icon_block .name_block .settings img {
            will-change: contents;
            -o-object-fit: contain;
               object-fit: contain;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s, -webkit-transform .2s; }
          .user_main.column .user_header .user_icon_block .name_block .settings:hover img {
            -webkit-transform: rotateZ(30deg);
                    transform: rotateZ(30deg); }
    .user_main.column .user_header .hd_flex {
      width: 100%;
      margin-left: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .user_main.column .user_header .hd_flex .name_block {
        width: 100%; }
        .user_main.column .user_header .hd_flex .name_block .flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
        .user_main.column .user_header .hd_flex .name_block .user_name {
          font: bold 22px "Open Sans";
          color: #2a2a2a; }
        .user_main.column .user_header .hd_flex .name_block .settings {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-transform: uppercase;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          cursor: pointer;
          margin-left: 20px;
          text-decoration: none; }
          .user_main.column .user_header .hd_flex .name_block .settings p {
            font: 500 12px "Open Sans";
            color: #161616; }
          .user_main.column .user_header .hd_flex .name_block .settings img {
            will-change: contents;
            -o-object-fit: contain;
               object-fit: contain;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s, -webkit-transform .2s; }
          .user_main.column .user_header .hd_flex .name_block .settings:hover img {
            -webkit-transform: rotateZ(30deg);
                    transform: rotateZ(30deg); }
      .user_main.column .user_header .hd_flex .user_description {
        margin-top: 15px;
        font: normal 15px "Open Sans";
        color: #565656;
        white-space: pre-wrap;
        line-height: 23px; }
      .user_main.column .user_header .hd_flex .subscribers_block {
        margin-top: 30px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .user_main.column .user_header .hd_flex .subscribers_block .subscribers_count {
          font: 500 13px "Open Sans";
          color: #454444; }
  .user_main.column .activities_slider {
    overflow: hidden;
    margin-top: 55px;
    height: 47px; }
    .user_main.column .activities_slider .user_activities_menu {
      position: relative;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      bottom: 0px;
      -webkit-transition: bottom .2s ease-out;
      transition: bottom .2s ease-out; }
      .user_main.column .activities_slider .user_activities_menu .bottom_line {
        background-color: #2f83e9;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        z-index: 1;
        -webkit-transition: left .2s ease-in-out;
        transition: left .2s ease-in-out;
        display: none; }
        .user_main.column .activities_slider .user_activities_menu .bottom_line.visible {
          display: block; }
      .user_main.column .activities_slider .user_activities_menu .item {
        text-decoration: none;
        width: 100%;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        text-align: center;
        padding: 15px;
        cursor: pointer;
        font: bold 11px "Open Sans";
        color: #818080;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: border-bottom .2s;
        transition: border-bottom .2s;
        text-transform: uppercase;
        border-bottom: 2px solid #dcdce0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .user_main.column .activities_slider .user_activities_menu .item.hidden {
          display: none; }
        .user_main.column .activities_slider .user_activities_menu .item:hover {
          color: #616166;
          border-bottom: 2px solid #828286; }
        .user_main.column .activities_slider .user_activities_menu .item.active {
          color: #343435; }
          .user_main.column .activities_slider .user_activities_menu .item.active img {
            -webkit-filter: invert(25%) !important;
                    filter: invert(25%) !important; }
        .user_main.column .activities_slider .user_activities_menu .item.profile_submenu {
          -ms-flex-negative: 2;
              flex-shrink: 2; }
          .user_main.column .activities_slider .user_activities_menu .item.profile_submenu img {
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            -o-object-fit: cover;
               object-fit: cover;
            width: 17px;
            height: 15px;
            -webkit-filter: invert(45%);
                    filter: invert(45%); }
          .user_main.column .activities_slider .user_activities_menu .item.profile_submenu:hover img {
            -webkit-filter: invert(30%);
                    filter: invert(30%); }
      .user_main.column .activities_slider .user_activities_menu:nth-of-type(2) .item:not(.profile_submenu) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .user_main.column .activities_slider .user_activities_menu:nth-of-type(2) .item:not(.profile_submenu) img {
          -webkit-filter: invert(35%);
                  filter: invert(35%);
          -o-object-fit: contain;
             object-fit: contain;
          width: 15px;
          height: 15px;
          margin-left: 7px; }
        .user_main.column .activities_slider .user_activities_menu:nth-of-type(2) .item:not(.profile_submenu):hover img {
          -webkit-filter: invert(25%);
                  filter: invert(25%); }
  .user_main.column .posts_block {
    margin-top: 40px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .user_main.column .posts_block .empty_posts_box {
      margin: 20px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .user_main.column .posts_block .empty_posts_box p:first-of-type {
        color: #4f5051;
        text-align: center;
        font: normal 15px "Open Sans"; }
    .user_main.column .posts_block > p:first-of-type {
      font: 500 15px "Open Sans";
      color: #3e3e3e; }
    .user_main.column .posts_block .blog_recording {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      min-height: 200px;
      border-radius: 6px;
      -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .2s;
      transition: -webkit-box-shadow .3s, -webkit-transform .2s;
      transition: box-shadow .3s, transform .2s;
      transition: box-shadow .3s, transform .2s, -webkit-box-shadow .3s, -webkit-transform .2s; }
      .user_main.column .posts_block .blog_recording .blog_img img {
        width: 250px;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 7px 0 0 7px;
        background-position: center; }
      .user_main.column .posts_block .blog_recording:nth-of-type(n+2) {
        margin-top: 35px; }
      .user_main.column .posts_block .blog_recording .main_post_content {
        padding: 0 30px;
        border-radius: 0 7px 7px 0;
        border: 1px solid #d6d6d6;
        border-left: none;
        width: 100%; }
        .user_main.column .posts_block .blog_recording .main_post_content .record_container {
          font: normal 14px "Open Sans";
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          padding: 30px 0; }
          .user_main.column .posts_block .blog_recording .main_post_content .record_container div.blog_recording_block {
            margin-left: 0; }
          .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block {
            margin-left: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 100%; }
            .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .blog_name {
              display: inline-block;
              word-break: break-word;
              color: #323232;
              font-size: 20px;
              font-weight: bold;
              -webkit-transition: color 0.15s;
              transition: color 0.15s; }
              .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .blog_name .blog_recording:hover, .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .blog_name:hover {
                color: #626262; }
            .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block {
              margin-top: 13px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex; }
              .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block img {
                width: 12px;
                height: 12px;
                margin-top: 1px; }
              .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block .author_name {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center; }
                .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block .author_name a {
                  color: #2a2a2a;
                  font: 500 12px "Open Sans";
                  display: inline-block; }
                  .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block .author_name a img {
                    margin-bottom: -2px; }
                  .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block .author_name a span {
                    margin-left: 4px;
                    -webkit-transition: color .2s;
                    transition: color .2s; }
                  .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .info-block .author_name a:hover span {
                    color: #5f657a; }
            .user_main.column .posts_block .blog_recording .main_post_content .record_container .blog_recording_block .name_block .blog_description {
              word-break: break-word;
              margin-top: 30px;
              color: #333339;
              font-weight: 500;
              -webkit-transition: color 0.2s;
              transition: color 0.2s;
              padding-right: 15px; }
        .user_main.column .posts_block .blog_recording .main_post_content .last_block {
          width: 100%;
          border-top: 1px solid #d6d6d6;
          min-height: 50px;
          border-radius: 0 0 5px 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-top: 19px;
          padding-bottom: 20px; }
          .user_main.column .posts_block .blog_recording .main_post_content .last_block_info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .likes, .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .views {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .likes img, .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .views img {
                width: 13px;
                height: 13px;
                margin-top: 1px; }
              .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .likes p, .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .views p {
                color: #2a2a2a;
                font: 500 12px "Open Sans";
                margin-left: 6px; }
            .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .views {
              margin-left: 15px; }
            .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .share {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              cursor: pointer;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
              margin-left: 25px; }
              .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .share img {
                width: 13px;
                height: 13px;
                margin-top: 1px; }
              .user_main.column .posts_block .blog_recording .main_post_content .last_block_info .share:hover p {
                color: #5f657a; }
          .user_main.column .posts_block .blog_recording .main_post_content .last_block .blog_date {
            margin-left: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .user_main.column .posts_block .blog_recording .main_post_content .last_block .blog_date img {
              width: 12px;
              height: 12px;
              margin-top: 1px; }
            .user_main.column .posts_block .blog_recording .main_post_content .last_block .blog_date p {
              color: #2a2a2a;
              font: 500 12px "Open Sans";
              margin-left: 7px; }

footer {
  -webkit-box-shadow: 0 -5px 9px -3px #f3f3f3;
          box-shadow: 0 -5px 9px -3px #f3f3f3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  footer a {
    text-decoration: none; }
  footer .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  footer .footer_head {
    padding: 55px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #111111; }
    @media screen and (max-width: 903px) {
      footer .footer_head {
        padding: 35px 0; }
        footer .footer_head .column {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          footer .footer_head .column > :nth-child(n+2) {
            margin-top: 35px;
            margin-left: 0px !important; } }
    @media screen and (max-width: 590px) {
      footer .footer_head .column ul.main_navigation {
        width: 100%; } }
    @media screen and (max-width: 501px) {
      footer .footer_head .column ul.main_navigation {
        display: grid;
        justify-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        footer .footer_head .column ul.main_navigation li:nth-of-type(n+2) {
          margin-left: 0 !important;
          margin-top: 10px; } }
    footer .footer_head .column {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .footer_head .column > :nth-child(n+2) {
        margin-left: 70px; }
      footer .footer_head .column .header_logo {
        margin: 0;
        margin-left: 0px;
        margin-bottom: -7px; }
        footer .footer_head .column .header_logo a {
          display: inline-block; }
          footer .footer_head .column .header_logo a img:first-child {
            margin-left: -6px;
            width: 129px;
            height: 34px;
            -o-object-fit: cover;
               object-fit: cover; }
      footer .footer_head .column .main_navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        list-style-type: none;
        width: 475px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        footer .footer_head .column .main_navigation li a {
          display: block;
          cursor: pointer;
          font: bold 13px "Open Sans";
          color: #a0a0a0;
          overflow-x: hidden;
          overflow-y: visible;
          letter-spacing: .7px;
          text-transform: uppercase;
          -webkit-transition: all .2s;
          transition: all .2s;
          text-align: center; }
          footer .footer_head .column .main_navigation li a:hover {
            color: #ffffff; }
        footer .footer_head .column .main_navigation li:nth-of-type(n+2) {
          margin-left: 30px; }
      footer .footer_head .column .to_page_top {
        cursor: pointer;
        min-width: 35px;
        height: 35px;
        border-radius: 7px;
        background-color: #278EE8;
        -webkit-box-shadow: 0 0 0 6px rgba(39, 142, 232, 0.18);
                box-shadow: 0 0 0 6px rgba(39, 142, 232, 0.18);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: -webkit-box-shadow .2s;
        transition: -webkit-box-shadow .2s;
        transition: box-shadow .2s;
        transition: box-shadow .2s, -webkit-box-shadow .2s; }
        footer .footer_head .column .to_page_top span {
          -webkit-transform: scaleX(2);
                  transform: scaleX(2);
          color: #ffffff;
          font-size: 10px; }
        footer .footer_head .column .to_page_top:hover {
          -webkit-box-shadow: 0 0 0 7px rgba(39, 142, 232, 0.23);
                  box-shadow: 0 0 0 7px rgba(39, 142, 232, 0.23); }
  footer .footer_downtown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0;
    background-color: #FAFAFA; }
    footer .footer_downtown .column {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .footer_downtown .column > :nth-child(n+2) {
        margin-left: 30px; }
      @media screen and (max-width: 640px) {
        footer .footer_downtown .column > :last-child {
          display: none; } }
      @media screen and (max-width: 390px) {
        footer .footer_downtown .column .social {
          display: none !important; }
        footer .footer_downtown .column .copyright {
          width: 100%;
          text-align: center; } }
      footer .footer_downtown .column .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: -35px; }
        @media screen and (max-width: 856px) {
          footer .footer_downtown .column .social {
            margin-left: 40px; } }
        footer .footer_downtown .column .social img {
          width: 18px;
          -webkit-filter: invert(18%) blur(0.2px);
                  filter: invert(18%) blur(0.2px);
          -webkit-transition: -webkit-filter .3s;
          transition: -webkit-filter .3s;
          transition: filter .3s;
          transition: filter .3s, -webkit-filter .3s; }
          footer .footer_downtown .column .social img[alt="youtube"] {
            width: 21px;
            margin-top: -1.5px;
            margin-right: -2px; }
          footer .footer_downtown .column .social img:hover {
            -webkit-filter: invert(30%) blur(0.2px);
                    filter: invert(30%) blur(0.2px); }
        footer .footer_downtown .column .social a:nth-of-type(n+2) {
          margin-left: 25px; }
      footer .footer_downtown .column .copyright {
        word-break: break-word;
        text-align: center;
        font: 500 12px "Open Sans";
        color: #363636; }
      footer .footer_downtown .column p {
        color: #363636;
        font: 500 12px "Open Sans";
        text-transform: capitalize;
        text-align: center; }
