@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal; }
.posts .posts_add {
  margin-top: 21px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 4px #e0e6ed;
          box-shadow: 0 1px 2px 4px #e0e6ed;
  border-top: 3px solid #c2c2cf;
  border-radius: 2px;
  background-color: #ffffff; }
  .posts .posts_add .posts_add_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 2px solid #e3e3e3; }
    .posts .posts_add .posts_add_header .controllers {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .posts .posts_add .posts_add_header .controllers div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        font: 500 19px "Open Sans";
        color: #3b3b3b; }
      .posts .posts_add .posts_add_header .controllers div:nth-of-type(2) {
        margin-left: 10px; }
    .posts .posts_add .posts_add_header p {
      color: #414141;
      font: 500 16px "Open Sans"; }
  .posts .posts_add .add_category {
    padding: 40px 20px; }
    .posts .posts_add .add_category form .add_category_flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .posts .posts_add .add_category form .add_category_flex .add_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; }
        .posts .posts_add .add_category form .add_category_flex .add_info div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .posts .posts_add .add_category form .add_category_flex .add_info div:nth-of-type(n+2) {
            margin-top: 30px; }
          .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type label div {
            background-color: #4cd056; }
          .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type input:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type textarea:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type input:hover, .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type textarea:hover {
            border-color: #4cd056; }
          .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type label div {
            background-color: #deca4c; }
          .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type input:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type textarea:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type input:hover, .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type textarea:hover {
            border-color: #deca4c; }
          .posts .posts_add .add_category form .add_category_flex .add_info div label {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .posts .posts_add .add_category form .add_category_flex .add_info div label div {
              margin-top: -5px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-right: 5px; }
            .posts .posts_add .add_category form .add_category_flex .add_info div label p {
              font: 500 13px "Open Sans";
              color: #303030;
              margin-bottom: 5px; }
          .posts .posts_add .add_category form .add_category_flex .add_info div input, .posts .posts_add .add_category form .add_category_flex .add_info div textarea {
            margin-left: 3px;
            width: 300px;
            border: 2px solid #969696;
            font: normal 12px "Open Sans";
            padding: 6px 5px;
            padding-bottom: 8px;
            outline: none;
            resize: none;
            border-radius: 3px;
            -webkit-transition: border-color .2s;
            transition: border-color .2s; }
          .posts .posts_add .add_category form .add_category_flex .add_info div textarea {
            overflow: hidden;
            height: 38px;
            padding-bottom: 12px; }
      .posts .posts_add .add_category form .add_category_flex .second_half {
        margin-left: 30px; }
        .posts .posts_add .add_category form .add_category_flex .second_half .add_image input[type=file] {
          display: none; }
        .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger {
          width: 300px;
          height: 170px;
          border: 2px solid #a7a7a7;
          border-radius: 3px;
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: -15px;
          -webkit-transition: border-color .2s;
          transition: border-color .2s; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger p {
            color: #2a2a2a;
            text-transform: uppercase;
            font: 500 12px "Open Sans"; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger img {
            opacity: .8;
            width: 40px;
            height: 40px;
            -o-object-fit: cover;
               object-fit: cover;
            margin-top: 13px; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger:hover {
            border-color: #2f83e9; }
    .posts .posts_add .add_category form input[type='submit'] {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      outline: none;
      padding: 7px 12px;
      border: none;
      background-color: #2f83e9;
      color: #ffffff;
      font: 500 14px "Open Sans";
      border-radius: 4px;
      -webkit-transition: all .2s;
      transition: all .2s; }
      .posts .posts_add .add_category form input[type='submit']:hover {
        -webkit-box-shadow: 0px 2px 0 2px #6262bc3d;
                box-shadow: 0px 2px 0 2px #6262bc3d; }
.posts .posts_container {
  margin-top: 30px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 4px #e0e6ed;
          box-shadow: 0 1px 2px 4px #e0e6ed;
  border-top: 3px solid #c2c2cf;
  border-radius: 2px;
  background-color: #ffffff; }
  .posts .posts_container .posts_container_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 2px solid #e3e3e3; }
    .posts .posts_container .posts_container_header .post_head_title span {
      color: #414141;
      font: 500 16px "Open Sans"; }
    .posts .posts_container .posts_container_header .post_head_title .col_of_pages {
      margin-top: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .posts .posts_container .posts_container_header .post_head_title .col_of_pages p {
        font: normal 13px "Open Sans";
        color: #515151; }
      .posts .posts_container .posts_container_header .post_head_title .col_of_pages img {
        opacity: .8;
        margin-left: 7px;
        width: 14px;
        height: 14px;
        -o-object-fit: contain;
           object-fit: contain; }
    .posts .posts_container .posts_container_header .search_block {
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .posts .posts_container .posts_container_header .search_block input {
        padding: 2px 5px;
        padding-right: 25px;
        width: 200px;
        outline: none;
        border: 1px solid #bebebe;
        border-radius: 3px 0 0 3px;
        font: normal 13px "Open Sans";
        -webkit-box-shadow: inset 0 1px 2px 0 #efefef;
                box-shadow: inset 0 1px 2px 0 #efefef; }
        .posts .posts_container .posts_container_header .search_block input:focus {
          border: 1px solid #2f83e9; }
      .posts .posts_container .posts_container_header .search_block .search_trigger {
        cursor: pointer;
        background-color: #eeeeee;
        width: 60px;
        border: 1px solid #bebebe;
        border-left: none;
        border-radius: 0 3px 3px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .posts .posts_container .posts_container_header .search_block .search_trigger img {
          -o-object-fit: contain;
             object-fit: contain;
          width: 13px;
          height: 13px; }
    .posts .posts_container .posts_container_header .remove_search_content {
      cursor: pointer;
      position: absolute;
      right: 70px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      display: inline-block;
      font: 500 16px "Open Sans";
      color: #3d454a; }
      .posts .posts_container .posts_container_header .remove_search_content.hidden {
        display: none; }
  .posts .posts_container .posts_block {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .posts .posts_container .posts_footer {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px; }
    .posts .posts_container .posts_footer a.add_post {
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #6262bc;
      padding: 8px;
      border-radius: 3px; }
      .posts .posts_container .posts_footer a.add_post:hover {
        border-color: #4c4ccd; }
        .posts .posts_container .posts_footer a.add_post:hover span {
          color: #4c4ccd; }
        .posts .posts_container .posts_footer a.add_post:hover img {
          opacity: .8;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
      .posts .posts_container .posts_footer a.add_post span {
        font: 500 14px "Open Sans";
        margin-right: 8px;
        color: #6262bc;
        -webkit-transition: color .2s;
        transition: color .2s; }
      .posts .posts_container .posts_footer a.add_post img {
        opacity: .7;
        width: 21px;
        height: 21px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-transition: all .2s;
        transition: all .2s; }
    .posts .posts_container .posts_footer .buttons_block > div {
      margin-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .posts .posts_container .posts_footer .buttons_block > div a {
        text-decoration: none; }
      .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers button:nth-of-type(2) a span:first-child, .posts .posts_container .posts_footer .buttons_block > div .next_page a span:last-child {
        font-size: 9px;
        display: inline-block;
        -webkit-transform: scaleY(2);
                transform: scaleY(2);
        padding-bottom: 2px; }
      .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers button:nth-of-type(1) {
          border-radius: 5px 0 0 5px;
          position: relative;
          text-transform: uppercase;
          border-left: 1px solid #dfdfdf; }
          .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers button:nth-of-type(1) a {
            padding-top: 5px;
            padding-bottom: 6px;
            font-size: 15px;
            display: block;
            -webkit-transform: scaleY(1.4);
                    transform: scaleY(1.4); }
        .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers button:nth-of-type(2) {
          text-transform: uppercase; }
          .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers button:nth-of-type(2) a {
            display: block;
            padding-bottom: 6px; }
            .posts .posts_container .posts_footer .buttons_block > div .buttons_controllers button:nth-of-type(2) a span:first-child {
              padding-right: 7px; }
      .posts .posts_container .posts_footer .buttons_block > div .next_page {
        text-transform: uppercase;
        border-radius: 0 5px 5px 0; }
        .posts .posts_container .posts_footer .buttons_block > div .next_page a {
          padding-bottom: 6px; }
          .posts .posts_container .posts_footer .buttons_block > div .next_page a span:last-child {
            padding-left: 7px; }
      .posts .posts_container .posts_footer .buttons_block > div button {
        border: 1px solid #dfdfdf;
        border-left: none;
        background-color: transparent;
        outline: none;
        -webkit-transition: background-color .3s;
        transition: background-color .3s; }
        .posts .posts_container .posts_footer .buttons_block > div button a {
          width: 100%;
          height: 100%;
          display: block;
          padding: 8px 12px;
          color: #3c3c3c;
          font: 500 12px "Open Sans"; }
        .posts .posts_container .posts_footer .buttons_block > div button:hover {
          background-color: #f5f5f5; }
        .posts .posts_container .posts_footer .buttons_block > div button:disabled a {
          color: #939393;
          pointer-events: none; }
        .posts .posts_container .posts_footer .buttons_block > div button:disabled:hover {
          background-color: transparent; }
        .posts .posts_container .posts_footer .buttons_block > div button:disabled:before {
          color: #939393 !important; }
        .posts .posts_container .posts_footer .buttons_block > div button:disabled:after {
          color: #939393 !important; }
        .posts .posts_container .posts_footer .buttons_block > div button.active {
          background-color: #6262bced;
          border-color: #6262bced; }
          .posts .posts_container .posts_footer .buttons_block > div button.active a {
            color: #ffffff; }
