@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal; }
.modal-overlay {
  background: rgba(0, 0, 0, 0.6) !important; }
  .modal-overlay .modal-window .modal-header {
    border-bottom: none;
    padding-bottom: 0px; }
  .modal-overlay .modal-window .modal-body {
    margin-top: 10px;
    padding-bottom: 0px;
    border-bottom: none; }
  .modal-overlay .modal-window .modal-footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 10px; }
  .modal-overlay .modal-window .modal-header > span:nth-child(1) {
    font-size: 20px;
    color: #292929; }
  .modal-overlay .modal-window .modal-footer > button:nth-of-type(2) {
    margin-left: 25px;
    color: #e9452f; }
  .modal-overlay .modal-window .modal-footer > button {
    padding: 0px;
    font-size: 14px;
    color: #2f83e9;
    background-color: transparent !important; }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

.group_box {
  -webkit-transition: border .2s, height .3s;
  transition: border .2s, height .3s;
  overflow: hidden; }

.group_box.active_box {
  border-top: 3px solid #2f83e9 !important; }

.main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  .main_box header {
    height: 60px; }
  .main_box aside.aside_menu {
    min-width: 260px;
    margin-left: -260px;
    background-color: #22282C;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s; }
    .main_box aside.aside_menu.active {
      margin-left: 0; }
    .main_box aside.aside_menu header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #45467F; }
      .main_box aside.aside_menu header a img {
        margin-bottom: -4px;
        -o-object-fit: cover;
           object-fit: cover;
        width: 110px;
        height: 27px;
        -webkit-filter: grayscale(0.4);
                filter: grayscale(0.4); }
    .main_box aside.aside_menu .aside_category:first-of-type {
      margin-top: 30px; }
    .main_box aside.aside_menu .aside_category:nth-of-type(n+2) {
      margin-top: 10px; }
    .main_box aside.aside_menu .aside_category .category_name {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer;
      background-color: #1B1F22;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main_box aside.aside_menu .aside_category .category_name span {
        margin-left: 20px;
        text-transform: uppercase;
        font: 500 12px "Open Sans";
        color: rgba(223, 241, 248, 0.77); }
      .main_box aside.aside_menu .aside_category .category_name .navigation_zip {
        margin-right: 20px;
        width: 15px;
        height: 15px;
        opacity: .7;
        background-image: url("/public/imgs/arrow-down-sign-to-navigate.png");
        background-size: cover;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s; }
    .main_box aside.aside_menu .aside_category.active .category_name .navigation_zip {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .main_box aside.aside_menu .aside_category nav {
      margin-top: 10px;
      overflow: hidden;
      -webkit-transition: height .2s, margin-top .3s;
      transition: height .2s, margin-top .3s; }
      .main_box aside.aside_menu .aside_category nav ul {
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .main_box aside.aside_menu .aside_category nav ul li {
          -webkit-transition: background-color .1s;
          transition: background-color .1s; }
          .main_box aside.aside_menu .aside_category nav ul li:hover {
            background-color: #2f383c; }
          .main_box aside.aside_menu .aside_category nav ul li a {
            padding: 10px 0;
            padding-left: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-decoration: none; }
            .main_box aside.aside_menu .aside_category nav ul li a div {
              width: 10px;
              height: 10px;
              opacity: 0.45;
              background: url("/public/imgs/cercle.png") center no-repeat;
              background-size: contain;
              -webkit-transition: background-image .2s;
              transition: background-image .2s; }
            .main_box aside.aside_menu .aside_category nav ul li a span {
              margin-left: 10px;
              text-transform: uppercase;
              font: 500 12px "Open Sans";
              color: rgba(223, 229, 236, 0.58); }
          .main_box aside.aside_menu .aside_category nav ul li:hover a div, .main_box aside.aside_menu .aside_category nav ul li.active a div {
            background-image: url("/public/imgs/filled-circle.png"); }
    .main_box aside.aside_menu .aside_category.active > nav {
      height: 0 !important;
      margin-top: 0; }
    .main_box aside.aside_menu .aside_category.users_category nav {
      height: 37px; }
    .main_box aside.aside_menu .aside_category.posts_category nav {
      height: 110px; }
  .main_box .main_admin_block {
    background-color: #e6ecf2;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main_box .main_admin_block section header {
      background-color: #4B4B88;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main_box .main_admin_block section header .aside_burger {
        cursor: pointer;
        margin-left: 20px; }
        .main_box .main_admin_block section header .aside_burger div {
          width: 27px;
          height: 3px;
          background-color: #ffffff;
          border-radius: 3px; }
          .main_box .main_admin_block section header .aside_burger div:nth-of-type(n+2) {
            margin-top: 5px; }
      .main_box .main_admin_block section header .go-out {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 16px;
        text-decoration: none; }
        .main_box .main_admin_block section header .go-out p {
          font: 500 12px "Open Sans";
          margin-top: 2px;
          color: #dedede;
          text-transform: uppercase; }
        .main_box .main_admin_block section header .go-out div {
          margin-left: 5px;
          width: 20px;
          height: 20px;
          background-image: url("/public/imgs/exit.png");
          background-size: cover; }
    .main_box .main_admin_block footer {
      margin-top: 50px;
      -webkit-box-shadow: 6px 0 6px 4px #e0e6ed;
              box-shadow: 6px 0 6px 4px #e0e6ed;
      height: 45px;
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .main_box .main_admin_block footer article {
        font: normal 12px "Open Sans"; }
        .main_box .main_admin_block footer article span a {
          text-decoration: none;
          color: #2f83e9; }

.posts {
  padding: 0 25px;
  padding-top: 18px; }
  .posts .main_header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .posts .main_header_block .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .posts .main_header_block .title p:first-child {
        color: #353535;
        font: 500 20px "Open Sans"; }
      .posts .main_header_block .title p:last-child {
        margin-left: 7px;
        margin-bottom: 2px;
        color: #646464;
        font: normal 13px "Open Sans"; }
    .posts .main_header_block .pages_way {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 4px; }
      .posts .main_header_block .pages_way .arrow-right {
        color: #808080;
        font: 500 12px "Open Sans";
        margin-bottom: -1px;
        margin-left: 10px; }
      .posts .main_header_block .pages_way > a {
        text-decoration: none;
        -webkit-transition: opacity .1s;
        transition: opacity .1s; }
        .posts .main_header_block .pages_way > a img {
          width: 15px;
          height: 15px;
          -o-object-fit: contain;
             object-fit: contain;
          opacity: .8;
          margin-bottom: -2px;
          margin-right: 3px; }
        .posts .main_header_block .pages_way > a span {
          color: #343434;
          font: 500 12px "Open Sans"; }
        .posts .main_header_block .pages_way > a:nth-of-type(n+2) {
          margin-left: 10px; }
        .posts .main_header_block .pages_way > a:hover {
          opacity: .7; }
