@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal; }
.posts {
  padding: 0 25px;
  padding-top: 10px; }
  .posts .main_header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .posts .main_header_block .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .posts .main_header_block .title p:first-child {
        color: #353535;
        font: 500 20px "Open Sans"; }
      .posts .main_header_block .title p:last-child {
        margin-left: 7px;
        margin-bottom: 2px;
        color: #646464;
        font: normal 13px "Open Sans"; }
    .posts .main_header_block .pages_way {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .posts .main_header_block .pages_way .arrow-right {
        color: #808080;
        font: 500 12px "Open Sans";
        margin-bottom: -1px;
        margin-left: 10px; }
      .posts .main_header_block .pages_way > a {
        text-decoration: none; }
        .posts .main_header_block .pages_way > a img {
          width: 15px;
          height: 15px;
          -o-object-fit: contain;
             object-fit: contain;
          opacity: .8;
          margin-bottom: -2px;
          margin-right: 3px; }
        .posts .main_header_block .pages_way > a span {
          color: #343434;
          font: 500 12px "Open Sans"; }
        .posts .main_header_block .pages_way > a:nth-of-type(n+2) {
          margin-left: 10px; }
  .posts .posts_container {
    margin-top: 15px;
    width: 100%;
    -webkit-box-shadow: 0 1px 2px 4px #e0e6ed;
            box-shadow: 0 1px 2px 4px #e0e6ed;
    border-top: 3px solid #6262bc;
    border-radius: 2px;
    background-color: #ffffff; }
    .posts .posts_container .posts_container_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 12px 10px;
      border-bottom: 2px solid #e3e3e3; }
      .posts .posts_container .posts_container_header span {
        color: #515151;
        font: 500 16px "Open Sans"; }
      .posts .posts_container .posts_container_header a.add_post {
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .posts .posts_container .posts_container_header a.add_post:hover img {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
        .posts .posts_container .posts_container_header a.add_post span {
          font: 500 12px "Open Sans";
          color: #515151;
          margin-right: 4px; }
        .posts .posts_container .posts_container_header a.add_post img {
          opacity: .7;
          width: 16px;
          height: 16px;
          -o-object-fit: cover;
             object-fit: cover;
          -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
          transition: transform .2s;
          transition: transform .2s, -webkit-transform .2s; }
    .posts .posts_container .posts_block {
      padding: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .posts .posts_container .posts_block .post {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .posts .posts_container .posts_block .post:nth-of-type(n+2) {
          margin-top: 20px; }
        .posts .posts_container .posts_block .post .post_image_preview {
          max-width: 210px;
          min-height: 130px;
          max-height: 200px;
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: 3px 0 0 3px; }
        .posts .posts_container .posts_block .post .post_main_flex {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -ms-flex-line-pack: start;
              align-content: flex-start;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding-left: 13px;
          padding-right: 8px;
          border: 1px solid #ececec;
          border-left: none;
          border-radius: 0 3px 3px 0; }
          .posts .posts_container .posts_block .post .post_main_flex p {
            color: #3b3b3b; }
          .posts .posts_container .posts_block .post .post_main_flex .post_name {
            margin-top: 7px;
            font: 500 19px "Open Sans"; }
          .posts .posts_container .posts_block .post .post_main_flex .date_of_post {
            margin-top: 2px;
            font: normal 12px "Open Sans"; }
          .posts .posts_container .posts_block .post .post_main_flex .post_description {
            font: 500 13px "Open Sans";
            margin-top: 15px; }
          .posts .posts_container .posts_block .post .post_main_flex .actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 8px;
            margin-top: 10px;
            -ms-flex-item-align: end;
                align-self: flex-end; }
            .posts .posts_container .posts_block .post .post_main_flex .actions a {
              border-radius: 3px;
              text-decoration: none;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-transition: background-color .2s;
              transition: background-color .2s;
              padding: 7px; }
              .posts .posts_container .posts_block .post .post_main_flex .actions a:hover {
                background-color: #eeeeee; }
              .posts .posts_container .posts_block .post .post_main_flex .actions a:nth-of-type(n+2) {
                margin-left: 8px; }
              .posts .posts_container .posts_block .post .post_main_flex .actions a img {
                width: 14px;
                height: 14px;
                -o-object-fit: contain;
                   object-fit: contain;
                opacity: .9;
                margin-top: -1px; }
              .posts .posts_container .posts_block .post .post_main_flex .actions a p {
                margin-left: 5px;
                text-transform: uppercase;
                font: 500 13px "Open Sans"; }
    .posts .posts_container .buttons_block {
      margin-top: 0;
      padding-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .posts .posts_container .buttons_block a {
        text-decoration: none; }
      .posts .posts_container .buttons_block button a, .posts .posts_container .buttons_block button:before {
        color: #666666; }
      .posts .posts_container .buttons_block .buttons_controllers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .posts .posts_container .buttons_block .buttons_controllers button a, .posts .posts_container .buttons_block .buttons_controllers button:before {
          color: #666666; }
        .posts .posts_container .buttons_block .buttons_controllers button:nth-of-type(1) {
          border-radius: 5px 0 0 5px;
          position: relative;
          text-transform: uppercase;
          border-left: 1px solid #ececec; }
          .posts .posts_container .buttons_block .buttons_controllers button:nth-of-type(1) a {
            display: block; }
          .posts .posts_container .buttons_block .buttons_controllers button:nth-of-type(1):before {
            content: '\00AB';
            font-size: 18px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-55%);
                    transform: translateY(-55%);
            left: 8px; }
        .posts .posts_container .buttons_block .buttons_controllers button:nth-of-type(2) {
          position: relative;
          text-transform: uppercase; }
          .posts .posts_container .buttons_block .buttons_controllers button:nth-of-type(2) a {
            display: block;
            padding-left: 25px; }
          .posts .posts_container .buttons_block .buttons_controllers button:nth-of-type(2):before {
            content: '\003C';
            font-size: 10px;
            position: absolute;
            top: 50%;
            color: #353535;
            -webkit-transform: translateY(-45%) scaleY(1.5);
                    transform: translateY(-45%) scaleY(1.5);
            left: 10px; }
      .posts .posts_container .buttons_block .next_page {
        text-transform: uppercase;
        border-radius: 0 5px 5px 0;
        position: relative; }
        .posts .posts_container .buttons_block .next_page a {
          padding-right: 25px; }
        .posts .posts_container .buttons_block .next_page:after {
          content: '\003E';
          font-size: 10px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-45%) scaleY(1.5);
                  transform: translateY(-45%) scaleY(1.5);
          right: 10px; }
      .posts .posts_container .buttons_block button {
        border: 1px solid #ececec;
        border-left: none;
        background-color: transparent;
        outline: none;
        -webkit-transition: background-color .3s;
        transition: background-color .3s; }
        .posts .posts_container .buttons_block button a {
          width: 100%;
          height: 100%;
          display: block;
          padding: 8px 12px;
          font: 500 12px "Open Sans"; }
        .posts .posts_container .buttons_block button:hover {
          background-color: #f5f5f5; }
        .posts .posts_container .buttons_block button:disabled a {
          color: #939393;
          pointer-events: none; }
        .posts .posts_container .buttons_block button:disabled:hover {
          background-color: transparent; }
        .posts .posts_container .buttons_block button:disabled:before {
          color: #939393 !important; }
        .posts .posts_container .buttons_block button:disabled:after {
          color: #939393 !important; }
        .posts .posts_container .buttons_block button.active {
          background-color: #6b70a0;
          border-color: #6b70a0; }
          .posts .posts_container .buttons_block button.active a {
            color: #ffffff; }
