@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal; }
.buttons_block > div {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .buttons_block > div a {
    text-decoration: none; }
  .buttons_block > div .buttons_controllers button:nth-of-type(2) a span:first-child, .buttons_block > div .next_page a span:last-child {
    font-size: 9px;
    display: inline-block;
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
    padding-bottom: 2px; }
  .buttons_block > div .buttons_controllers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .buttons_block > div .buttons_controllers button:nth-of-type(1) {
      border-radius: 5px 0 0 5px;
      position: relative;
      text-transform: uppercase;
      border-left: 1px solid #dfdfdf; }
      .buttons_block > div .buttons_controllers button:nth-of-type(1) a {
        padding-top: 5px;
        padding-bottom: 6px;
        font-size: 15px;
        display: block;
        -webkit-transform: scaleY(1.4);
                transform: scaleY(1.4); }
    .buttons_block > div .buttons_controllers button:nth-of-type(2) {
      text-transform: uppercase; }
      .buttons_block > div .buttons_controllers button:nth-of-type(2) a {
        display: block;
        padding-bottom: 6px; }
        .buttons_block > div .buttons_controllers button:nth-of-type(2) a span:first-child {
          padding-right: 7px; }
  .buttons_block > div .next_page {
    text-transform: uppercase;
    border-radius: 0 5px 5px 0; }
    .buttons_block > div .next_page a {
      padding-bottom: 6px; }
      .buttons_block > div .next_page a span:last-child {
        padding-left: 7px; }
  .buttons_block > div button {
    border: 1px solid #dfdfdf;
    border-left: none;
    background-color: transparent;
    outline: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s; }
    .buttons_block > div button a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 8px 12px;
      color: #3c3c3c;
      font: 500 12px "Open Sans"; }
    .buttons_block > div button:hover {
      background-color: #f5f5f5; }
    .buttons_block > div button:disabled {
      opacity: .7; }
      .buttons_block > div button:disabled a {
        color: #939393;
        pointer-events: none; }
      .buttons_block > div button:disabled:hover {
        background-color: transparent; }
      .buttons_block > div button:disabled:before {
        color: #939393 !important; }
      .buttons_block > div button:disabled:after {
        color: #939393 !important; }
    .buttons_block > div button.active {
      background-color: #fcfaff;
      border-color: #6262bced;
      border-left: 1px solid #6262bced; }

.posts .posts_add {
  margin-top: 21px;
  margin-bottom: 30px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 4px #e0e6ed;
          box-shadow: 0 1px 2px 4px #e0e6ed;
  border-top: 3px solid #c2c2cf;
  border-radius: 2px;
  background-color: #ffffff; }
  .posts .posts_add .posts_add_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 2px solid #e3e3e3; }
    .posts .posts_add .posts_add_header .controllers {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .posts .posts_add .posts_add_header .controllers div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        font: 500 19px "Open Sans";
        color: #3b3b3b; }
      .posts .posts_add .posts_add_header .controllers div:nth-of-type(2) {
        margin-left: 10px; }
    .posts .posts_add .posts_add_header p {
      color: #414141;
      font: 500 16px "Open Sans"; }
.posts .posts_container {
  margin-top: 20px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 4px #e0e6ed;
          box-shadow: 0 1px 2px 4px #e0e6ed;
  border-top: 3px solid #c2c2cf;
  border-radius: 2px;
  background-color: #ffffff; }
  .posts .posts_container .posts_container_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 2px solid #e3e3e3; }
    .posts .posts_container .posts_container_header .post_head_title span {
      color: #414141;
      font: 500 16px "Open Sans"; }
    .posts .posts_container .posts_container_header .post_head_title .col_of_pages {
      margin-top: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .posts .posts_container .posts_container_header .post_head_title .col_of_pages p {
        font: normal 13px "Open Sans";
        color: #515151; }
      .posts .posts_container .posts_container_header .post_head_title .col_of_pages img {
        opacity: .8;
        margin-left: 7px;
        width: 14px;
        height: 14px;
        -o-object-fit: contain;
           object-fit: contain; }
    .posts .posts_container .posts_container_header .search_block {
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .posts .posts_container .posts_container_header .search_block input {
        padding: 2px 5px;
        padding-right: 25px;
        width: 200px;
        outline: none;
        border: 1px solid #bebebe;
        border-radius: 3px 0 0 3px;
        font: normal 13px "Open Sans";
        -webkit-box-shadow: inset 0 1px 2px 0 #efefef;
                box-shadow: inset 0 1px 2px 0 #efefef; }
        .posts .posts_container .posts_container_header .search_block input:focus {
          border: 1px solid #2f83e9; }
      .posts .posts_container .posts_container_header .search_block.active .search_trigger {
        background-color: #efefef; }
        .posts .posts_container .posts_container_header .search_block.active .search_trigger img {
          opacity: 1; }
      .posts .posts_container .posts_container_header .search_block .search_trigger {
        cursor: pointer;
        background-color: #f5f5f5;
        width: 60px;
        border: 1px solid #bebebe;
        border-left: none;
        border-radius: 0 3px 3px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .posts .posts_container .posts_container_header .search_block .search_trigger img {
          -o-object-fit: contain;
             object-fit: contain;
          width: 13px;
          opacity: .6;
          height: 13px; }
        .posts .posts_container .posts_container_header .search_block .search_trigger:hover {
          background-color: #efefef; }
          .posts .posts_container .posts_container_header .search_block .search_trigger:hover img {
            opacity: 1; }
    .posts .posts_container .posts_container_header .remove_search_content {
      cursor: pointer;
      position: absolute;
      right: 70px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      display: inline-block;
      font: 500 16px "Open Sans";
      color: #3d454a; }
      .posts .posts_container .posts_container_header .remove_search_content.hidden {
        display: none; }
  .posts .posts_container .posts_block {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .posts .posts_container .posts_block .empty_search_request, .posts .posts_container .posts_block .empty_posts_block {
      margin-top: 100px;
      margin-bottom: 105px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .posts .posts_container .posts_block .empty_search_request img, .posts .posts_container .posts_block .empty_posts_block img {
        -o-object-fit: contain;
           object-fit: contain;
        width: 135px;
        height: 135px;
        opacity: .8; }
      .posts .posts_container .posts_block .empty_search_request p, .posts .posts_container .posts_block .empty_posts_block p {
        color: #3c3c3c; }
      .posts .posts_container .posts_block .empty_search_request p:nth-of-type(1), .posts .posts_container .posts_block .empty_posts_block p:nth-of-type(1) {
        margin-top: 10px;
        font: 500 25px "Open Sans"; }
      .posts .posts_container .posts_block .empty_search_request p:nth-of-type(2), .posts .posts_container .posts_block .empty_posts_block p:nth-of-type(2) {
        margin-top: 3px;
        font: normal 13px "Open Sans"; }
    .posts .posts_container .posts_block .empty_search_request img {
      opacity: 1; }
  .posts .posts_container .posts_footer {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px; }

.posts .posts_add .add_category .general_form_message {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  padding: 10px 5px;
  background-color: #e14a43;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative; }
  .posts .posts_add .add_category .general_form_message.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .posts .posts_add .add_category .general_form_message div:last-of-type {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font: 500 19px "Open Sans";
    color: #ffffff;
    right: 7px;
    top: 10px; }
  .posts .posts_add .add_category .general_form_message p {
    color: #ffffff;
    font: 500 14px "Open Sans"; }
.posts .posts_add .add_category form {
  margin-top: 48px; }
  .posts .posts_add .add_category form .add_category_flex {
    padding: 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .posts .posts_add .add_category form .add_category_flex .add_info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
      .posts .posts_add .add_category form .add_category_flex .add_info div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .posts .posts_add .add_category form .add_category_flex .add_info div .field_error_inf {
          margin-left: 3px; }
          .posts .posts_add .add_category form .add_category_flex .add_info div .field_error_inf p {
            font: normal 13px "Open Sans";
            color: rgba(227, 63, 35, 0.84); }
        .posts .posts_add .add_category form .add_category_flex .add_info div:nth-of-type(n+2) {
          margin-top: 30px; }
        .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type label div {
          background-color: #4cd056; }
        .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type input:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type textarea:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type input:hover, .posts .posts_add .add_category form .add_category_flex .add_info div:first-of-type textarea:hover {
          border-color: #4cd056; }
        .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type label div {
          background-color: #dea44c; }
        .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type input:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type textarea:focus, .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type input:hover, .posts .posts_add .add_category form .add_category_flex .add_info div:last-of-type textarea:hover {
          border-color: #dea44c; }
        .posts .posts_add .add_category form .add_category_flex .add_info div label {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .posts .posts_add .add_category form .add_category_flex .add_info div label div {
            margin-top: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px; }
          .posts .posts_add .add_category form .add_category_flex .add_info div label p {
            font: 500 13px "Open Sans";
            color: #303030;
            margin-bottom: 5px; }
        .posts .posts_add .add_category form .add_category_flex .add_info div input, .posts .posts_add .add_category form .add_category_flex .add_info div textarea {
          margin-left: 3px;
          width: 300px;
          border: 2px solid #969696;
          font: normal 12px "Open Sans";
          padding: 6px 5px;
          padding-bottom: 8px;
          outline: none;
          resize: none;
          border-radius: 3px;
          -webkit-transition: border-color .2s;
          transition: border-color .2s; }
          .posts .posts_add .add_category form .add_category_flex .add_info div input.invalid, .posts .posts_add .add_category form .add_category_flex .add_info div textarea.invalid {
            border-color: rgba(227, 63, 35, 0.84) !important; }
        .posts .posts_add .add_category form .add_category_flex .add_info div textarea {
          overflow: hidden;
          height: 38px;
          padding-bottom: 12px; }
    .posts .posts_add .add_category form .add_category_flex .second_half {
      margin-left: 35px;
      margin-bottom: -16px; }
      .posts .posts_add .add_category form .add_category_flex .second_half .add_image {
        width: 300px;
        height: 170px; }
        .posts .posts_add .add_category form .add_category_flex .second_half .add_image input[type=file] {
          display: none; }
        .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block {
          width: 100%;
          height: 100%;
          position: relative; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block > img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            border-radius: 3px; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_reset {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #3c3c3c99; }
            .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_reset > div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              padding: 10px 20px;
              cursor: pointer; }
              .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_reset > div img {
                width: 35px;
                height: 35px;
                -o-object-fit: contain;
                   object-fit: contain; }
              .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_reset > div p {
                color: #ffffff;
                margin-top: 5px;
                font: 500 17px "Open Sans"; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            position: absolute;
            bottom: -25px;
            left: 50%;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%); }
            .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_info p {
              display: inline-block;
              word-break: keep-all;
              font: 500 13px "Open Sans";
              color: #343434; }
              .posts .posts_add .add_category form .add_category_flex .second_half .add_image .uploaded_image_block .uploaded_image_info p:last-of-type {
                margin-left: 20px; }
        .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger {
          border-radius: 3px;
          border: 2px solid #969696;
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: -15px;
          -webkit-transition: border-color .2s;
          transition: border-color .2s; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger p {
            color: #606060;
            text-transform: uppercase;
            font: 500 15px "Open Sans";
            margin-top: 10px; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger img {
            opacity: .7;
            width: 50px;
            height: 40px;
            -o-object-fit: cover;
               object-fit: cover;
            margin-top: 15px; }
          .posts .posts_add .add_category form .add_category_flex .second_half .add_image .add_image_trigger:hover {
            border-color: #2f83e9; }
  .posts .posts_add .add_category form .submit_items_block {
    border-top: 2px solid #e3e3e3;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 65px; }
    .posts .posts_add .add_category form .submit_items_block input:last-of-type {
      color: #e14a43;
      margin-left: 25px; }
    .posts .posts_add .add_category form .submit_items_block input {
      cursor: pointer;
      display: block;
      outline: none;
      background-color: #ffffff;
      border: none;
      color: #2f83e9;
      font: 500 14px "Open Sans";
      border-radius: 4px; }
.posts .posts_container .posts_block {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .posts .posts_container .posts_block .category {
    height: auto;
    -webkit-box-shadow: 0 0 3px 1px #f8f8f8;
            box-shadow: 0 0 3px 1px #f8f8f8;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 20px;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px); }
    .posts .posts_container .posts_block .category .category_img {
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 3px 3px 0 0;
      width: 100%; }
    .posts .posts_container .posts_block .category .category_img + div {
      height: 100%;
      border: 1px solid #dfdfdf;
      border-radius: 0 0 3px 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-top: none; }
      .posts .posts_container .posts_block .category .category_img + div .category_main {
        padding: 10px 20px;
        padding-bottom: 30px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .posts .posts_container .posts_block .category .category_img + div .category_main div.name_block {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 30px; }
          .posts .posts_container .posts_block .category .category_img + div .category_main div.name_block .name {
            font: 500 20px "Open Sans"; }
          .posts .posts_container .posts_block .category .category_img + div .category_main div.name_block .col_of_posts {
            margin-top: 5px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .posts .posts_container .posts_block .category .category_img + div .category_main div.name_block .col_of_posts img {
              -o-object-fit: contain;
                 object-fit: contain;
              width: 14px;
              height: 14px; }
            .posts .posts_container .posts_block .category .category_img + div .category_main div.name_block .col_of_posts p {
              text-align: right;
              margin-right: 8px;
              font: normal 13px "Open Sans"; }
        .posts .posts_container .posts_block .category .category_img + div .category_main .description {
          margin: auto 0;
          text-align: center;
          font: normal 13px "Open Sans"; }
      .posts .posts_container .posts_block .category .category_img + div .controllers {
        padding: 15px 0;
        border-top: 1px solid #e3e3e3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .posts .posts_container .posts_block .category .category_img + div .controllers a {
          text-decoration: none;
          padding: 5px 7px;
          cursor: pointer;
          border: 1px solid #bcbcbc;
          border-radius: 2px;
          -webkit-transition: background-color .2s;
          transition: background-color .2s; }
          .posts .posts_container .posts_block .category .category_img + div .controllers a p {
            font: 500 14px "Open Sans";
            color: #484848; }
        .posts .posts_container .posts_block .category .category_img + div .controllers .edit {
          border-color: #2f83e9; }
          .posts .posts_container .posts_block .category .category_img + div .controllers .edit p {
            color: #2f83e9; }
          .posts .posts_container .posts_block .category .category_img + div .controllers .edit:hover {
            background-color: #2f83e91a; }
        .posts .posts_container .posts_block .category .category_img + div .controllers .delete_category {
          margin-left: 20px;
          border-color: #f54545; }
          .posts .posts_container .posts_block .category .category_img + div .controllers .delete_category p {
            color: #f54545; }
          .posts .posts_container .posts_block .category .category_img + div .controllers .delete_category:hover {
            background-color: #f5454514; }
