@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
  font-style: normal; }
.posts .posts_container .posts_block .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .posts .posts_container .posts_block .post:nth-of-type(n+2) {
    margin-top: 20px; }
  .posts .posts_container .posts_block .post .post_image_preview {
    min-width: 210px;
    min-height: 150px;
    background-size: cover;
    border-radius: 3px 0 0 3px;
    position: relative;
    overflow: hidden;
    --triggerHeight: 30px; }
    .posts .posts_container .posts_block .post .post_image_preview .post_more_inf {
      position: absolute;
      top: -100%;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #22282ce8;
      -webkit-transition: top .2s;
      transition: top .2s; }
      .posts .posts_container .posts_block .post .post_image_preview .post_more_inf.active {
        top: 0%; }
        .posts .posts_container .posts_block .post .post_image_preview .post_more_inf.active .trigger {
          border-radius: 20px 20px 0 0;
          background-color: rgba(63, 72, 77, 0.85);
          opacity: .9;
          bottom: 0; }
          .posts .posts_container .posts_block .post .post_image_preview .post_more_inf.active .trigger img {
            -webkit-transform: rotateZ(180deg);
                    transform: rotateZ(180deg); }
      .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .trigger {
        border-radius: 0 0 20px 20px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        cursor: pointer;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: -30px;
        width: 50%;
        height: var(--triggerHeight);
        background-color: #22282cd9;
        -webkit-transition: background-color .2s, bottom .3s;
        transition: background-color .2s, bottom .3s; }
        .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .trigger img {
          opacity: .8;
          -webkit-filter: invert(30%);
                  filter: invert(30%);
          width: 18px;
          height: 18px;
          -o-object-fit: cover;
             object-fit: cover;
          -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
          transition: transform .2s;
          transition: transform .2s, -webkit-transform .2s; }
      .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .inf {
        height: calc(100% - var(--triggerHeight));
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .inf > div:nth-child(n+2) {
          margin-left: 13px; }
        .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .inf > div {
          margin-bottom: -30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .inf > div img {
            width: 14px;
            height: 14px;
            -o-object-fit: cover;
               object-fit: cover;
            margin-right: 5px; }
          .posts .posts_container .posts_block .post .post_image_preview .post_more_inf .inf > div span {
            font: normal 12px "Open Sans";
            color: #ffffff; }
  .posts .posts_container .posts_block .post .post_main_flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 13px;
    padding-right: 8px;
    border: 1px solid #dfdfdf;
    border-left: none;
    border-radius: 0 3px 3px 0; }
    .posts .posts_container .posts_block .post .post_main_flex p {
      color: #3b3b3b; }
    .posts .posts_container .posts_block .post .post_main_flex .post_name {
      margin-top: 7px;
      font: 500 19px "Open Sans"; }
    .posts .posts_container .posts_block .post .post_main_flex .post_inf_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .posts .posts_container .posts_block .post .post_main_flex .post_inf_block .date_of_post {
        margin-top: 2px; }
        .posts .posts_container .posts_block .post .post_main_flex .post_inf_block .date_of_post img {
          -webkit-filter: brightness(0%);
                  filter: brightness(0%);
          opacity: .6; }
      .posts .posts_container .posts_block .post .post_main_flex .post_inf_block .author {
        margin-left: 15px; }
        .posts .posts_container .posts_block .post .post_main_flex .post_inf_block .author img {
          opacity: .65; }
      .posts .posts_container .posts_block .post .post_main_flex .post_inf_block > div, .posts .posts_container .posts_block .post .post_main_flex .post_inf_block > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .posts .posts_container .posts_block .post .post_main_flex .post_inf_block > div img, .posts .posts_container .posts_block .post .post_main_flex .post_inf_block > a img {
          width: 13px;
          height: 13px;
          -o-object-fit: cover;
             object-fit: cover;
          margin-right: 5px; }
        .posts .posts_container .posts_block .post .post_main_flex .post_inf_block > div span, .posts .posts_container .posts_block .post .post_main_flex .post_inf_block > a span {
          font: normal 12px "Open Sans";
          color: #353535; }
    .posts .posts_container .posts_block .post .post_main_flex .post_description {
      word-break: break-word;
      font: 500 13px "Open Sans";
      margin-top: 15px; }
    .posts .posts_container .posts_block .post .post_main_flex .post_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 8px;
      margin-top: 15px; }
      .posts .posts_container .posts_block .post .post_main_flex .post_footer .to_post {
        -webkit-transition: background-color .2s;
        transition: background-color .2s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none;
        border: 1px solid #6262bc;
        padding: 6px;
        border-radius: 3px; }
        .posts .posts_container .posts_block .post .post_main_flex .post_footer .to_post p {
          font: 500 13px "Open Sans";
          color: #6262bc;
          word-break: keep-all;
          text-transform: uppercase; }
        .posts .posts_container .posts_block .post .post_main_flex .post_footer .to_post img {
          margin-left: 5px;
          width: 15px;
          height: 10px;
          -o-object-fit: contain;
             object-fit: contain;
          -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
          transition: transform .2s;
          transition: transform .2s, -webkit-transform .2s; }
        .posts .posts_container .posts_block .post .post_main_flex .post_footer .to_post:hover {
          background-color: #f1f1f7; }
          .posts .posts_container .posts_block .post .post_main_flex .post_footer .to_post:hover img {
            -webkit-transform: translateX(2px);
                    transform: translateX(2px); }
      .posts .posts_container .posts_block .post .post_main_flex .post_footer .actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .posts .posts_container .posts_block .post .post_main_flex .post_footer .actions a {
          border: 1px solid #e0e0e0;
          border-radius: 3px;
          text-decoration: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-transition: background-color .2s;
          transition: background-color .2s;
          padding: 7px; }
          .posts .posts_container .posts_block .post .post_main_flex .post_footer .actions a:hover {
            background-color: #eeeeee; }
          .posts .posts_container .posts_block .post .post_main_flex .post_footer .actions a:nth-of-type(n+2) {
            margin-left: 8px; }
          .posts .posts_container .posts_block .post .post_main_flex .post_footer .actions a img {
            width: 14px;
            height: 14px;
            -o-object-fit: contain;
               object-fit: contain;
            opacity: .9;
            margin-top: -1px; }
          .posts .posts_container .posts_block .post .post_main_flex .post_footer .actions a p {
            margin-left: 5px;
            text-transform: uppercase;
            font: 500 13px "Open Sans"; }
