@import "../variables";
@import "admin_pagination";
@import "admin_body_template";

.posts{
  .posts_container{

    div.posts_block{
      padding: 25px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;

      .tag{
        background-color: #fcfcfc;
        margin-top: 20px;
        flex: 0 1 30%;
        width: fit-content;
        padding: 10px 15px;
        border: 1px solid #b3b3b3;
        border-radius: 2px;
        transform: translate(-10px, -10px);
        margin-left: 20px;

        .tag_body {
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p.tag_name {
            font: 500 14px $fontName;
            color: #4a4a4a;

            span {
              color: #2f83e9;
            }
          }

          .controllers {
            .delete_tag {
              text-decoration: none;
              margin-top: 1px;
              cursor: pointer;
              font: 500 18px $fontName;
              color: #3b3b3b;
            }
          }
        }
        .tag_footer{
          display: flex;
          justify-content: center;
          border-top: 1px solid #b5b5b5;
          padding: 15px 0px;
          padding-bottom: 10px;

          p{
            font: normal 13px $fontName;
          }
        }
      }

    }
  }

}