@import "../../variables";
@import "../admin_pagination";
@import "../admin_body_template";

.posts{

  .posts_container{

    .posts_block{
      padding: 25px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .category{
        height: auto;
        box-shadow: 0 0 3px 1px #f8f8f8;
        flex: 0 1 45%;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        margin-top: 20px;
        margin-left: 20px;
        transform: translate(-10px, -10px);

        .category_img{
          object-fit: cover;
          border-radius: 3px 3px 0 0;
          width: 100%;
        }
        .category_img + div {
          height: 100%;
          border: 1px solid #dfdfdf;
          border-radius: 0 0 3px 3px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-top: none;

          .category_main {
            padding: 10px 20px;
            padding-bottom: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            div.name_block {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 30px;

              .name {
                font: 500 20px $fontName;
              }
              .col_of_posts{
                margin-top: 5px;
                display: flex;
                align-items: center;

                img{
                  object-fit: contain;
                  width: 14px;
                  height: 14px;
                }
                p{
                  text-align: right;
                  margin-right: 8px;
                  font: normal 13px $fontName;
                }
              }
            }
            .description {
              margin: auto 0;
              text-align: center;
              font: normal 13px $fontName;
            }
          }

          .controllers {
            padding: 15px 0;
            border-top: 1px solid #e3e3e3;
            display: flex;
            justify-content: center;

            a {
              text-decoration: none;
              padding: 5px 7px;
              cursor: pointer;
              border: 1px solid #bcbcbc;
              border-radius: 2px;
              transition: background-color .2s;

              p{
                font: 500 14px $fontName;
                color: #484848;
              }
            }

            .edit {
              border-color: #2f83e9;
              p {
                color: #2f83e9;
              }
              &:hover{
                background-color: #2f83e91a;
              }
            }

            .delete_category {
              margin-left: 20px;
              border-color: #f54545;
              p {
                color: #f54545;
              }
              &:hover{
                background-color: #f5454514;
              }
            }
          }
        }
      }

    }

  }

}